/.vs/
/Debug/
/gid6/Debug/
/gid6/Release/
/gid6/x64/
/gid6/conv/
/gidr/tableServer_old
/gidr/tableServer
/_any/
*.obj
gid6.aps
__pycache__/
*.vcxproj.user
*.vcxproj.filters
*.aps
*.pyc
*.exe
*.exp
*.iobj
*.ipdb
*.lib
*.dll
*.tlb
*.plog
stdout.txt
main.exe.manifest
*.pdb
!libhasp_windows.lib
!duckx.lib
install/LIB/
/Release/gidhelper_external_codes.json
/Release/gidhelper_graph_map_nodes.json
/gidr/Python/
/install/gidr/Python/
/install/smm/Tgid07_MySQL.smm
/install/Distr/tgid.zip
/install/Distr2/tgid.zip
/install/gidr/conv/
/install/Python/
/install/conv/
/dop/full_tgid/script.sql 
/dop/full_tgid/full_tgid2.sql
full_tgid2.sql
/example/
/packages
/Release/gid6.exe.WebView2/EBWebView
HostObjectSample_h.h
HostObjectSample_i.c
/gidr/wkhtmltox
