/****** Object:  UserDefinedFunction [dbo].[avgHeatLosesMonth]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[avgHeatLosesMonth](@seasonID int) RETURNS  @avgHeatLosesMonth TABLE  (          heatSourceID int,     r int,     m int,     sezon int,     potNP float,     potNO float,     potPodz float,     potAll float,     V1 float,     Vall float ) as BEGIN     INSERT INTO @avgHeatLosesMonth     SELECT         tab1.heatSourceID,         tab1.r,         tab1.m,         tab1.sezon,         sum(potNP) AS potNP,         sum(potNO) AS potNO,         sum(potPodz) AS potPodz,         sum(potP+potO) AS potAll,         sum((         tab1.V*IIF(tab1.sezon=1, 1, 0.5+hls.t_percent/200)+         ISNULL(tab2.Vov, 0)*IIF(tab1.sezon=1, 1, 0)+         ISNULL(tab2.Vgvs, 0)         )*hlm.a/100*tv.dT)/1000 AS V1,         sum(potP+potO+(         tab1.V*IIF(tab1.sezon=1, 1, 0.5+hls.t_percent/200)+         ISNULL(tab2.Vov, 0)*IIF(tab1.sezon=1, 1, 0)+         ISNULL(tab2.Vgvs, 0)         )*hlm.a/100*tv.dT/1000) AS Vall     FROM     (         SELECT             nm.heatSourceID,             nm.r,nm.m,nm.sezon,             sum(qp*lenP*beta*heatTestsCoeffP)/1E6 AS potP,             sum(qo*lenO*beta*heatTestsCoeffO)/1E6 AS potO,             sum(IIF(tubingTypeID IN (1,2), 0, qp*lenP*beta*heatTestsCoeffP))/1E6 AS potNP,             sum(IIF(tubingTypeID IN (1,2), 0, qo*lenO*beta*heatTestsCoeffO))/1E6 AS potNO,             sum(IIF(tubingTypeID IN (1,2), qp*lenP*beta*heatTestsCoeffP+qo*lenO*beta*heatTestsCoeffO, 0))/1E6 AS potPodz,             sum((lenP+lenO)*PI()*POWER(diameterInternal/1000,2)/4) AS V         FROM normMon nm         GROUP BY             nm.r,nm.m,nm.sezon,nm.heatSourceID     ) tab1     LEFT JOIN     (       SELECT           lv.heatSourceID,           Vot+Vvent AS Vov,          Vgvs       FROM losesvolumesview(@seasonID) lv     ) tab2 ON tab2.heatSourceID = tab1.heatSourceID     join heatLosesMain hlm ON hlm.id=@seasonID     JOIN tempView tv ON tv.hID=tab1.heatSourceID AND tv.r=tab1.r AND tv.m <=120     LEFT JOIN heatLosesSource hls ON tab1.heatSourceID=hls.heatSourceID     GROUP BY         tab1.heatSourceID,         tv.tgP,         tv.tgO,         tv.tx,         tv.dT,         tab1.m,         tab1.sezon,         tab1.r     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[avgHeatLosesMonthFact]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[avgHeatLosesMonthFact](@seasonID int) RETURNS  @avgHeatLosesMonthFact TABLE  (          heatSourceID int,     r int,     m int,     sezon int,     potNP float,     potNO float,     potPodz float,     potAll float,     V1 float,     Vall float ) as BEGIN     INSERT INTO @avgHeatLosesMonthFact     SELECT         tab1.heatSourceID,         tab1.r,         tab1.m,         tab1.sezon,         sum(potNP) AS potNP,         sum(potNO) AS potNO,         sum(potPodz) AS potPodz,         sum(potP+potO) AS potAll,         sum((         tab1.V*IIF(tab1.sezon=1, 1, 0.5+hls.t_percent/200)+         ISNULL(tab2.Vov, 0)*IIF(tab1.sezon=1, 1, 0)+         ISNULL(tab2.Vgvs, 0)         )*hlm.a/100*tv.dT)/1000 AS V1,         sum(potP+potO+(tab1.V*IIF(tab1.sezon=1, 1, 0.5+hls.t_percent/200)+         ISNULL(tab2.Vov, 0)*IIF(tab1.sezon=1, 1, 0)+         ISNULL(tab2.Vgvs, 0)         )*hlm.a/100*tv.dT/1000) AS Vall     FROM     (         SELECT             nm.heatSourceID,             nm.r,nm.m,nm.sezon,             sum(qp*lenP*beta*heatTestsCoeffP)/1E6 AS potP,             sum(qo*lenO*beta*heatTestsCoeffO)/1E6 AS potO,             sum(IIF(tubingTypeID IN (1,2), 0, qp*lenP*beta*heatTestsCoeffP))/1E6 AS potNP,             sum(IIF(tubingTypeID IN (1,2), 0, qo*lenO*beta*heatTestsCoeffO))/1E6 AS potNO,             sum(IIF(tubingTypeID IN (1,2), qp*lenP*beta*heatTestsCoeffP+qo*lenO*beta*heatTestsCoeffO, 0))/1E6 AS potPodz,             sum((lenP+lenO)*PI()*POWER(diameterInternal/1000,2)/4) AS V         FROM normMonFact nm         GROUP BY             nm.r,nm.m,nm.sezon,nm.heatSourceID,tubingTypeID     ) tab1     LEFT JOIN       (       SELECT           lv.heatSourceID,           Vot+Vvent AS Vov,          Vgvs       FROM losesvolumesviewFact(@seasonID) lv     ) tab2 ON tab2.heatSourceID = tab1.heatSourceID     join heatLosesMain hlm ON hlm.id=@seasonID     JOIN tempViewFact tv ON tv.hID=tab1.heatSourceID AND tv.r=tab1.r AND tv.m <=120     LEFT JOIN heatLosesSource hls ON tab1.heatSourceID=hls.heatSourceID     GROUP BY         tab1.heatSourceID,         tv.tgP,         tv.tgO,         tv.tx,         tv.dT,         tab1.m,         tab1.sezon,         tab1.r     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[avgHeatLosesMonthFragment]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[avgHeatLosesMonthFragment](@seasonID int) RETURNS  @avgHeatLosesMonthFragment TABLE  (          heatSourceID int,     r int,     m int,     sezon int,     potNP float,     potNO float,     potPodz float,     potAll float,     V1 float,     Vall float ) as BEGIN     INSERT INTO @avgHeatLosesMonthFragment     SELECT         tab1.heatSourceID,         tab1.r,         tab1.m,         tab1.sezon,         sum(potNP) AS potNP,         sum(potNO) AS potNO,         sum(potPodz) AS potPodz,         sum(potP+potO) AS potAll,         sum((         tab1.V*IIF(tab1.sezon=1, 1, 0.5+hls.t_percent/200)+         ISNULL(tab2.Vov, 0)*IIF(tab1.sezon=1, 1, 0)+         ISNULL(tab2.Vgvs, 0)         )*hlm.a/100*tv.dT)/1000 AS V1,         sum(potP+potO+(tab1.V*IIF(tab1.sezon=1, 1, 0.5+hls.t_percent/200)+         ISNULL(tab2.Vov, 0)*IIF(tab1.sezon=1, 1, 0)+         ISNULL(tab2.Vgvs, 0)         )*hlm.a/100*tv.dT/1000) AS Vall     FROM     (         SELECT             nm.heatSourceID,             nm.r,nm.m,nm.sezon,             sum(qp*lenP*beta*heatTestsCoeffP)/1E6 AS potP,             sum(qo*lenO*beta*heatTestsCoeffO)/1E6 AS potO,             sum(IIF(tubingTypeID IN (1,2), 0, qp*lenP*beta*heatTestsCoeffP))/1E6 AS potNP,             sum(IIF(tubingTypeID IN (1,2), 0, qo*lenO*beta*heatTestsCoeffO))/1E6 AS potNO,             sum(IIF(tubingTypeID IN (1,2), qp*lenP*beta*heatTestsCoeffP+qo*lenO*beta*heatTestsCoeffO, 0))/1E6 AS potPodz,             sum((lenP+lenO)*PI()*POWER(diameterInternal/1000,2)/4) AS V         FROM normMonFragment nm         GROUP BY             nm.r,nm.m,nm.sezon,nm.heatSourceID,tubingTypeID     ) tab1     LEFT JOIN       (       SELECT           lv.heatSourceID,           Vot+Vvent AS Vov,          Vgvs       FROM losesvolumesviewFragment(@seasonID) lv     ) tab2 ON tab2.heatSourceID = tab1.heatSourceID     join heatLosesMain hlm ON hlm.id=@seasonID     JOIN tempView tv ON tv.hID=tab1.heatSourceID AND tv.r=tab1.r AND tv.m <=120     LEFT JOIN heatLosesSource hls ON tab1.heatSourceID=hls.heatSourceID     GROUP BY         tab1.heatSourceID,         tv.tgP,         tv.tgO,         tv.tx,         tv.dT,         tab1.m,         tab1.sezon,         tab1.r     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[avgHeatLosesMonthFragmentFact]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[avgHeatLosesMonthFragmentFact](@seasonID int) RETURNS  @avgHeatLosesMonthFragmentFact TABLE  (          heatSourceID int,     r int,     m int,     sezon int,     potNP float,     potNO float,     potPodz float,     potAll float,     V1 float,     Vall float ) as BEGIN     INSERT INTO @avgHeatLosesMonthFragmentFact     SELECT         tab1.heatSourceID,         tab1.r,         tab1.m,         tab1.sezon,         sum(potNP) AS potNP,         sum(potNO) AS potNO,         sum(potPodz) AS potPodz,         sum(potP+potO) AS potAll,         sum((         tab1.V*IIF(tab1.sezon=1, 1, 0.5+hls.t_percent/200)+         ISNULL(tab2.Vov, 0)*IIF(tab1.sezon=1, 1, 0)+         ISNULL(tab2.Vgvs, 0)         )*hlm.a/100*tv.dT)/1000 AS V1,         sum(potP+potO+(tab1.V*IIF(tab1.sezon=1, 1, 0.5+hls.t_percent/200)+         ISNULL(tab2.Vov, 0)*IIF(tab1.sezon=1, 1, 0)+         ISNULL(tab2.Vgvs, 0)         )*hlm.a/100*tv.dT/1000) AS Vall     FROM     (         SELECT             nm.heatSourceID,             nm.r,nm.m,nm.sezon,             sum(qp*lenP*beta*heatTestsCoeffP)/1E6 AS potP,             sum(qo*lenO*beta*heatTestsCoeffO)/1E6 AS potO,             sum(IIF(tubingTypeID IN (1,2), 0, qp*lenP*beta*heatTestsCoeffP))/1E6 AS potNP,             sum(IIF(tubingTypeID IN (1,2), 0, qo*lenO*beta*heatTestsCoeffO))/1E6 AS potNO,             sum(IIF(tubingTypeID IN (1,2), qp*lenP*beta*heatTestsCoeffP+qo*lenO*beta*heatTestsCoeffO, 0))/1E6 AS potPodz,             sum((lenP+lenO)*PI()*POWER(diameterInternal/1000,2)/4) AS V         FROM normMonFragmentFact nm         GROUP BY             nm.r,nm.m,nm.sezon,nm.heatSourceID,tubingTypeID     ) tab1     LEFT JOIN       (       SELECT           lv.heatSourceID,           Vot+Vvent AS Vov,          Vgvs       FROM losesvolumesviewFragmentFact(@seasonID) lv     ) tab2 ON tab2.heatSourceID = tab1.heatSourceID     join heatLosesMainFact hlm ON hlm.id=@seasonID     JOIN tempViewFact tv ON tv.hID=tab1.heatSourceID AND tv.r=tab1.r AND tv.m <=120     LEFT JOIN heatLosesSource hls ON tab1.heatSourceID=hls.heatSourceID     GROUP BY         tab1.heatSourceID,         tv.tgP,         tv.tgO,         tv.tx,         tv.dT,         tab1.m,         tab1.sezon,         tab1.r     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[get_qq]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[get_qq](   @tubingTypeID int,    @y INT,     @kolwork INT,   @po INT,    @tgP FLOAT,      @tgO FLOAT,      @tgr FLOAT,     @tpodv FLOAT,    @tn FLOAT,      @tnSt FLOAT,    @tgrSt FLOAT,     @t2 FLOAT,   @t1_1 FLOAT, @t1_2 FLOAT, @t1_3 FLOAT, @t1_4 FLOAT,   @qp_1 FLOAT, @qo_1 FLOAT, @qp_2 FLOAT, @qo_2 FLOAT, @qp_3 FLOAT, @qo_3 FLOAT, @qp_4 FLOAT, @qo_4 FLOAT,    @qp_1_5000 FLOAT, @qo_1_5000 FLOAT, @qp_2_5000 FLOAT, @qo_2_5000 FLOAT, @qp_3_5000 FLOAT, @qo_3_5000 FLOAT, @qp_4_5000 FLOAT, @qo_4_5000 FLOAT  ) returns FLOAT BEGIN   DECLARE @q FLOAT;   DECLARE @qP FLOAT;   DECLARE @qO FLOAT;   DECLARE @t FLOAT;   IF @kolwork = 1 BEGIN     SET @qp_1 = @qp_1_5000;     SET @qp_2 = @qp_2_5000;     SET @qp_3 = @qp_3_5000;     SET @qp_4 = @qp_4_5000;     SET @qo_1 = @qo_1_5000;     SET @qo_2 = @qo_2_5000;     SET @qo_3 = @qo_3_5000;     SET @qo_4 = @qo_4_5000;   END    IF @tubingTypeID = 4 OR @tubingTypeID = 3 BEGIN       IF @po = 2 BEGIN              SET @t = @tgO;     END     ELSE BEGIN       SET @t = @tgP;     END    END   ELSE BEGIN      SET @t = (@tgP+@tgO)/2;   END    IF @y = 1 BEGIN     IF @tubingTypeID = 4 BEGIN         SET @t = @t-@tn;     END     ELSE IF @tubingTypeID = 3 BEGIN         SET @t = @t-@tpodv;     END     ELSE BEGIN       SET @t = @t-@tgr;                 END    END    IF @y <> 1 BEGIN       SET @tnSt = 0;     SET @tgrSt = 0;   END    IF @tubingTypeID = 4 OR @tubingTypeID = 3 BEGIN       SET @qP = dbo.interpolate_q_3(@t, @t1_1-@tnSt, @t1_2-@tnSt, @t1_3-@tnSt, @t1_4-@tnSt, @qp_1, @qp_2, @qp_3, @qp_4);     return @qP;   END    IF @po = 1 BEGIN     SET @q = dbo.interpolate_q_3(@t, (@t1_1+@t2)/2-@tgrSt, (@t1_2+@t2)/2-@tgrSt, (@t1_3+@t2)/2-@tgrSt, (@t1_4+@t2)/2-@tgrSt, @qp_1, @qp_2, @qp_3, @qp_4);   END   ELSE BEGIN      SET @q = dbo.interpolate_q_3(@t, (@t1_1+@t2)/2-@tgrSt, (@t1_2+@t2)/2-@tgrSt, (@t1_3+@t2)/2-@tgrSt, (@t1_4+@t2)/2-@tgrSt, @qo_1, @qo_2, @qo_3, @qo_4);   END    return @q; END; ;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  UserDefinedFunction [dbo].[getCoeff]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getCoeff](    @po int,     @coeffDefault int,    @heatTestsCoeff FLOAT,    @pipeRemontTypeID int,    @tubingTypeID int,    @y int,    @typnet int,  @coeffMsFlowNorms1 FLOAT, @coeffMsRetNorms1 FLOAT, @coeffMsUndergroundNorms1 FLOAT, @coeffRsFlowNorms1 FLOAT, @coeffRsRetNorms1 FLOAT, @coeffRsUndergroundNorms1 FLOAT, @coeffBasementFlowNorms1 FLOAT, @coeffBasementRetNorms1 FLOAT, @coeffBasementUndergroundNorms1 FLOAT, @coeffHarnessFlowNorms1 FLOAT, @coeffHarnessRetNorms1 FLOAT, @coeffHarnessUndergroundNorms1 FLOAT, @coeffMsFlowNorms3 FLOAT, @coeffMsRetNorms3 FLOAT, @coeffMsUndergroundNorms3 FLOAT, @coeffRsFlowNorms3 FLOAT, @coeffRsRetNorms3 FLOAT, @coeffRsUndergroundNorms3 FLOAT, @coeffBasementFlowNorms3 FLOAT, @coeffBasementRetNorms3 FLOAT, @coeffBasementUndergroundNorms3 FLOAT, @coeffHarnessFlowNorms3 FLOAT, @coeffHarnessRetNorms3 FLOAT, @coeffHarnessUndergroundNorms3 FLOAT, @coeffMsFlowNorms1_r FLOAT, @coeffMsRetNorms1_r FLOAT, @coeffMsUndergroundNorms1_r FLOAT, @coeffRsFlowNorms1_r FLOAT, @coeffRsRetNorms1_r FLOAT, @coeffRsUndergroundNorms1_r FLOAT, @coeffBasementFlowNorms1_r FLOAT, @coeffBasementRetNorms1_r FLOAT, @coeffBasementUndergroundNorms1_r FLOAT, @coeffHarnessFlowNorms1_r FLOAT, @coeffHarnessRetNorms1_r FLOAT, @coeffHarnessUndergroundNorms1_r FLOAT, @coeffMsFlowNorms3_r FLOAT, @coeffMsRetNorms3_r FLOAT, @coeffMsUndergroundNorms3_r FLOAT, @coeffRsFlowNorms3_r FLOAT, @coeffRsRetNorms3_r FLOAT, @coeffRsUndergroundNorms3_r FLOAT, @coeffBasementFlowNorms3_r FLOAT, @coeffBasementRetNorms3_r FLOAT, @coeffBasementUndergroundNorms3_r FLOAT, @coeffHarnessFlowNorms3_r FLOAT, @coeffHarnessRetNorms3_r FLOAT, @coeffHarnessUndergroundNorms3_r FLOAT ) RETURNS FLOAT BEGIN   DECLARE @ret FLOAT;   IF @coeffDefault = 0 BEGIN     RETURN @heatTestsCoeff;   END    IF @pipeRemontTypeID = 1 BEGIN     RETURN 1;   END    IF @pipeRemontTypeID = 2 BEGIN     SET @coeffMsFlowNorms1 = @coeffMsFlowNorms1_r;     SET @coeffMsRetNorms1 = @coeffMsRetNorms1_r;     SET @coeffMsUndergroundNorms1 = @coeffMsUndergroundNorms1_r;     SET @coeffRsFlowNorms1 = @coeffRsFlowNorms1_r;     SET @coeffRsRetNorms1 = @coeffRsRetNorms1_r;     SET @coeffRsUndergroundNorms1 = @coeffRsUndergroundNorms1_r;     SET @coeffBasementFlowNorms1 = @coeffBasementFlowNorms1_r;     SET @coeffBasementRetNorms1 = @coeffBasementRetNorms1_r;     SET @coeffBasementUndergroundNorms1 = @coeffBasementUndergroundNorms1_r;     SET @coeffHarnessFlowNorms1 = @coeffHarnessFlowNorms1_r;     SET @coeffHarnessRetNorms1 = @coeffHarnessRetNorms1_r;     SET @coeffHarnessUndergroundNorms1 = @coeffHarnessUndergroundNorms1_r;     SET @coeffMsFlowNorms3 = @coeffMsFlowNorms3_r;     SET @coeffMsRetNorms3 = @coeffMsRetNorms3_r;     SET @coeffMsUndergroundNorms3 = @coeffMsUndergroundNorms3_r;     SET @coeffRsFlowNorms3 = @coeffRsFlowNorms3_r;     SET @coeffRsRetNorms3 = @coeffRsRetNorms3_r;     SET @coeffRsUndergroundNorms3 = @coeffRsUndergroundNorms3_r;     SET @coeffBasementFlowNorms3 = @coeffBasementFlowNorms3_r;     SET @coeffBasementRetNorms3 = @coeffBasementRetNorms3_r;     SET @coeffBasementUndergroundNorms3 = @coeffBasementUndergroundNorms3_r;     SET @coeffHarnessFlowNorms3 = @coeffHarnessFlowNorms3_r;     SET @coeffHarnessRetNorms3 = @coeffHarnessRetNorms3_r;     SET @coeffHarnessUndergroundNorms3 = @coeffHarnessUndergroundNorms3_r;   END    IF @y <> 1 BEGIN     SET @coeffMsFlowNorms1 = @coeffMsFlowNorms3;     SET @coeffMsRetNorms1 = @coeffMsRetNorms3;     SET @coeffMsUndergroundNorms1 = @coeffMsUndergroundNorms3;     SET @coeffRsFlowNorms1 = @coeffRsFlowNorms3;     SET @coeffRsRetNorms1 = @coeffRsRetNorms3;     SET @coeffRsUndergroundNorms1 = @coeffRsUndergroundNorms3;     SET @coeffBasementFlowNorms1 = @coeffBasementFlowNorms3;     SET @coeffBasementRetNorms1 = @coeffBasementRetNorms3;     SET @coeffBasementUndergroundNorms1 = @coeffBasementUndergroundNorms3;     SET @coeffHarnessFlowNorms1 = @coeffHarnessFlowNorms3;     SET @coeffHarnessRetNorms1 = @coeffHarnessRetNorms3;     SET @coeffHarnessUndergroundNorms1 = @coeffHarnessUndergroundNorms3;   END    IF @typnet = 2 BEGIN     SET @coeffMsFlowNorms1 = @coeffRsFlowNorms1;     SET @coeffMsRetNorms1 = @coeffRsRetNorms1;     SET @coeffMsUndergroundNorms1 = @coeffRsUndergroundNorms1;   END   ELSE IF @typnet = 20 BEGIN     SET @coeffMsFlowNorms1 = @coeffBasementFlowNorms1;     SET @coeffMsRetNorms1 = @coeffBasementRetNorms1;     SET @coeffMsUndergroundNorms1 = @coeffBasementUndergroundNorms1;   END      IF @tubingTypeID IN (1,2) BEGIN     return @coeffMsUndergroundNorms1;   END    IF @po = 1 BEGIN     return @coeffMsFlowNorms1;   END    return @coeffMsRetNorms1; END; ;
GO
/****** Object:  UserDefinedFunction [dbo].[getMon]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getMon](@monthID INT) RETURNS nvarchar(20) BEGIN   DECLARE @ret nvarchar(20);   SET @ret = (case @monthID     when 1 then N'январь'     when 2 then N'февраль'     when 3 then N'март'     when 4 then N'апрель'     when 5 then N'май'     when 6 then N'июнь'     when 7 then N'июль'     when 8 then N'август'     when 9 then N'сентябрь'     when 10 then N'октябрь'     when 11 then N'ноябрь'     when 12 then N'декабрь'     when 13 then N'отопит.период'     when 14 then N'летний период'     when 15 then N'среднегодовая'     else N'???'   end);   return @ret; END; ;
GO
/****** Object:  UserDefinedFunction [dbo].[getTypnet]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[getTypnet](@typnet INT) RETURNS nvarchar(50) BEGIN   DECLARE @ret nvarchar(50);   SET @ret = (case @typnet     when 1 then N'Магистральные тепловые сети'     when 2 then N'Распределительные тепловые сети'     when 3 then N'Районая котельная'     when 4 then N'РК сеть отопления'     when 5 then N'РК сеть ГВС'     when 6 then N'Источник тепла'     when 7 then N'Насосная станция'     when 8 then N'ЦТРП'     when 9 then N'КРП'     when 10 then N'Камера'     when 11 then N'Котельная'     when 12 then N'Участок магистрали'     when 20 then N'Тепловые сети в технических подвалах'     when 30 then N'Трубопроводы обвязки насосных станций, узлов рассечки и баков-аккумуляторов'     else N'Неизвестные тепловые сети'   end);   return @ret; END; ;
GO
/****** Object:  UserDefinedFunction [dbo].[interpolate_q_3]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[interpolate_q_3](   @t FLOAT,   @t1 FLOAT, @t2 FLOAT, @t3 FLOAT, @t4 FLOAT,   @q1 FLOAT, @q2 FLOAT, @q3 FLOAT, @q4 FLOAT ) RETURNS FLOAT BEGIN   IF @t < @t2 BEGIN RETURN @q1+(@q2-@q1)*(@t-@t1)/(@t2-@t1); END    IF @t < @t3 AND @t3 <> @t2 BEGIN RETURN @q2+(@q3-@q2)*(@t-@t2)/(@t3-@t2); END    IF @t < @t4 AND @t4 <> @t3 BEGIN RETURN @q3+(@q4-@q3)*(@t-@t3)/(@t4-@t3); END    IF @t2 = @t3 BEGIN     RETURN @q1+(@q2-@q1)*(@t-@t1)/(@t2-@t1);     END    IF @t3 = @t4 BEGIN     RETURN @q2+(@q3-@q2)*(@t-@t2)/(@t3-@t2);   END    RETURN @q3+(@q4-@q3)*(@t-@t3)/(@t4-@t3); END; ;
GO
/****** Object:  UserDefinedFunction [dbo].[losesVolumesView]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[losesVolumesView](@seasonID int) RETURNS  @losesVolumesView TABLE  (     heatSourceID int,     V1 float,     V2 float,     Vpodv float,     V6 float,     Vsts float,     Vot1 float,     Vvent1 float,     Vgvs1 float,     Vot2 float,     Vvent2 float,     Vgvs2 float,     Vot3 float,     Vvent3 float,     Vgvs3 float,     Vot float,     Vvent float,     Vgvs float,     Vpotr float,     VobM float,     VobR float ) as BEGIN     INSERT INTO @losesVolumesView SELECT      TR.heatSourceID,     V1,     V2,     Vpodv,       V6,     V1+V2+V6 AS Vsts,     Vot1,     Vvent1,     Vgvs1,     Vot2,     Vvent2,     Vgvs2,     Vot3,     Vvent3,     Vgvs3,     Vot,     Vvent,     Vgvs,     Vot+Vvent+Vgvs AS Vpotr,     IIF(VobM IS NULL, 0, VobM) AS VobM,     IIF(VobR IS NULL, 0, VobR) AS VobR FROM  (   SELECT      heatSourceID,     sum(IIF(objectID = 1 AND typnet <> 20, VV, 0)) AS V1,     sum(IIF(objectID <> 1 AND typnet <> 20, VV, 0)) AS V2,     sum(IIF(typnet = 20, VV, 0)) AS Vpodv,    sum(IIF(typnet<>20 , VV, 0)) AS V6   FROM    (     SELECT        heatSourceID,       diameterExternal,       diameterCondit,       diameterInternal,       objectID,       wallThickness,       typnet,       (lenP+lenO)*diameterInternal*diameterInternal*PI()/4/1000/1000 AS VV     FROM heatPipeSectionIst hps   ) _T1   GROUP BY     heatSourceID ) TR LEFT JOIN  ( SELECT      heatSourceID,     sum(gOt_pr*volWaterHS) AS Vot,     sum(gVent_pr*volWaterVS) AS Vvent,     sum(gGvs_pr*volWaterOpenGvs) AS Vgvs,     sum(gOt_pr1*volWaterHS) AS Vot1,     sum(gVent_pr1*volWaterVS) AS Vvent1,     sum(gGvs_pr1*volWaterOpenGvs) AS Vgvs1,     sum(gOt_pr2*volWaterHS) AS Vot2,     sum(gVent_pr2*volWaterVS) AS Vvent2,     sum(gGvs_pr2*volWaterOpenGvs) AS Vgvs2,     sum(gOt_pr3*volWaterHS) AS Vot3,     sum(gVent_pr3*volWaterVS) AS Vvent3,     sum(gGvs_pr3*volWaterOpenGvs) AS Vgvs3 FROM (   SELECT      ec.heatSourceID,     sum(IIF(buildingTypeID=1,calcHLdep+calcHLindep, 0)) AS gOt_pr1,     sum(IIF(buildingTypeID=1,calcHLventil, 0)) AS gVent_pr1,     sum(IIF(buildingTypeID=1,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr1,     sum(IIF(buildingTypeID=2,calcHLdep+calcHLindep, 0)) AS gOt_pr2,     sum(IIF(buildingTypeID=2,calcHLventil, 0)) AS gVent_pr2,     sum(IIF(buildingTypeID=2,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr2,     sum(IIF(buildingTypeID=3,calcHLdep+calcHLindep, 0)) AS gOt_pr3,     sum(IIF(buildingTypeID=3,calcHLventil, 0)) AS gVent_pr3,     sum(IIF(buildingTypeID=3,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr3,     sum(calcHLdep+calcHLindep) AS gOt_pr,     sum(calcHLventil) AS gVent_pr,     sum(avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON) AS gGvs_pr,     IIF(hlm.useTableData=0, rc.volWaterHS, hlm.volWaterHS) AS volWaterHS,     IIF(hlm.useTableData=0, rc.volWaterVS, hlm.volWaterVS) AS volWaterVS,     hlm.volWaterOpenGvs   FROM realConsumers2 rc   JOIN nodes n ON n.id = rc.nodeID   left join externalCodes ec on ec.id = n.externalCodeID   join heatLosesMain hlm ON hlm.id=@seasonID   WHERE n.removed=0   GROUP BY     hlm.volWaterHS,     hlm.volWaterVS,     hlm.volWaterOpenGvs,     hlm.useTableData,     rc.volWaterHS,     rc.volWaterVS,     ec.heatSourceID ) _TTT1 GROUP BY     heatSourceID,     volWaterOpenGvs ) PR ON PR.heatSourceID = TR.heatSourceID LEFT JOIN  ( SELECT heatSourceID, SUM(IIF(belongMS=1, V, 0)) AS VObM, SUM(IIF(belongMS<>1, V, 0)) AS VObR    FROM    (     SELECT heatSourceID, belongMS, SUM(POWER(diameterInternal/1000,2)*PI()/4*pipeSectLength) AS V       FROM heatPipeSectionsHarness       GROUP BY       heatSourceID,belongMS   ) _TT1   GROUP BY heatSourceID ) OBV ON OBV.heatSourceID=TR.heatSourceID     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[losesVolumesViewFact]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[losesVolumesViewFact](@seasonID int) RETURNS  @losesVolumesViewFact TABLE  (     heatSourceID int,     V1 float,     V2 float,     Vpodv float,     V6 float,     Vsts float,     Vot1 float,     Vvent1 float,     Vgvs1 float,     Vot2 float,     Vvent2 float,     Vgvs2 float,     Vot3 float,     Vvent3 float,     Vgvs3 float,     Vot float,     Vvent float,     Vgvs float,     Vpotr float,     VobM float,     VobR float ) as BEGIN     INSERT INTO @losesVolumesViewFact SELECT      TR.heatSourceID,     V1,     V2,     Vpodv,       V6,     V1+V2+V6 AS Vsts,     Vot1,     Vvent1,     Vgvs1,     Vot2,     Vvent2,     Vgvs2,     Vot3,     Vvent3,     Vgvs3,     Vot,     Vvent,     Vgvs,     Vot+Vvent+Vgvs AS Vpotr,     IIF(VobM IS NULL, 0, VobM) AS VobM,     IIF(VobR IS NULL, 0, VobR) AS VobR FROM  (   SELECT      heatSourceID,     sum(IIF(objectID = 1 AND typnet <> 20, VV, 0)) AS V1,     sum(IIF(objectID <> 1 AND typnet <> 20, VV, 0)) AS V2,     sum(IIF(typnet = 20, VV, 0)) AS Vpodv,    sum(IIF(typnet<>20 , VV, 0)) AS V6   FROM    (     SELECT        heatSourceID,       diameterExternal,       diameterCondit,       diameterInternal,       objectID,       wallThickness,       typnet,       (lenP+lenO)*diameterInternal*diameterInternal*PI()/4/1000/1000 AS VV     FROM heatPipeSectionIstFact hps   ) _T1   GROUP BY     heatSourceID ) TR LEFT JOIN  ( SELECT      heatSourceID,     sum(gOt_pr*volWaterHS) AS Vot,     sum(gVent_pr*volWaterVS) AS Vvent,     sum(gGvs_pr*volWaterOpenGvs) AS Vgvs,     sum(gOt_pr1*volWaterHS) AS Vot1,     sum(gVent_pr1*volWaterVS) AS Vvent1,     sum(gGvs_pr1*volWaterOpenGvs) AS Vgvs1,     sum(gOt_pr2*volWaterHS) AS Vot2,     sum(gVent_pr2*volWaterVS) AS Vvent2,     sum(gGvs_pr2*volWaterOpenGvs) AS Vgvs2,     sum(gOt_pr3*volWaterHS) AS Vot3,     sum(gVent_pr3*volWaterVS) AS Vvent3,     sum(gGvs_pr3*volWaterOpenGvs) AS Vgvs3 FROM (   SELECT      ec.heatSourceID,     sum(IIF(buildingTypeID=1,calcHLdep+calcHLindep, 0)) AS gOt_pr1,     sum(IIF(buildingTypeID=1,calcHLventil, 0)) AS gVent_pr1,     sum(IIF(buildingTypeID=1,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr1,     sum(IIF(buildingTypeID=2,calcHLdep+calcHLindep, 0)) AS gOt_pr2,     sum(IIF(buildingTypeID=2,calcHLventil, 0)) AS gVent_pr2,     sum(IIF(buildingTypeID=2,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr2,     sum(IIF(buildingTypeID=3,calcHLdep+calcHLindep, 0)) AS gOt_pr3,     sum(IIF(buildingTypeID=3,calcHLventil, 0)) AS gVent_pr3,     sum(IIF(buildingTypeID=3,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr3,     sum(calcHLdep+calcHLindep) AS gOt_pr,     sum(calcHLventil) AS gVent_pr,     sum(avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON) AS gGvs_pr,     IIF(hlm.useTableData=0, rc.volWaterHS, hlm.volWaterHS) AS volWaterHS,     IIF(hlm.useTableData=0, rc.volWaterVS, hlm.volWaterVS) AS volWaterVS,     hlm.volWaterOpenGvs   FROM realConsumers2 rc   JOIN nodes n ON n.id = rc.nodeID   left join externalCodes ec on ec.id = n.externalCodeID   join heatLosesMainFact hlm ON hlm.id=@seasonID   WHERE n.removed=0   GROUP BY     hlm.volWaterHS,     hlm.volWaterVS,     hlm.volWaterOpenGvs,     hlm.useTableData,     rc.volWaterHS,     rc.volWaterVS,     ec.heatSourceID ) _TTT1 GROUP BY     heatSourceID,     volWaterOpenGvs ) PR ON PR.heatSourceID = TR.heatSourceID LEFT JOIN  ( SELECT heatSourceID, SUM(IIF(belongMS=1, V, 0)) AS VObM, SUM(IIF(belongMS<>1, V, 0)) AS VObR    FROM    (     SELECT heatSourceID, belongMS, SUM(POWER(diameterInternal/1000,2)*PI()/4*pipeSectLength) AS V       FROM heatPipeSectionsHarness       GROUP BY       heatSourceID,belongMS   ) _TT1   GROUP BY heatSourceID ) OBV ON OBV.heatSourceID=TR.heatSourceID     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[losesVolumesViewFragment]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[losesVolumesViewFragment](@seasonID int) RETURNS  @losesVolumesViewFragment TABLE  (     heatSourceID int,     V1 float,     V2 float,     Vpodv float,     V6 float,     Vsts float,     Vot1 float,     Vvent1 float,     Vgvs1 float,     Vot2 float,     Vvent2 float,     Vgvs2 float,     Vot3 float,     Vvent3 float,     Vgvs3 float,     Vot float,     Vvent float,     Vgvs float,     Vpotr float,     VobM float,     VobR float ) as BEGIN     INSERT INTO @losesVolumesViewFragment SELECT      TR.heatSourceID,     V1,     V2,     Vpodv,       V6,     V1+V2+V6 AS Vsts,     Vot1,     Vvent1,     Vgvs1,     Vot2,     Vvent2,     Vgvs2,     Vot3,     Vvent3,     Vgvs3,     Vot,     Vvent,     Vgvs,     Vot+Vvent+Vgvs AS Vpotr,     IIF(VobM IS NULL, 0, VobM) AS VobM,     IIF(VobR IS NULL, 0, VobR) AS VobR FROM  (   SELECT      heatSourceID,     sum(IIF(objectID = 1 AND typnet <> 20, VV, 0)) AS V1,     sum(IIF(objectID <> 1 AND typnet <> 20, VV, 0)) AS V2,     sum(IIF(typnet = 20, VV, 0)) AS Vpodv,    sum(IIF(typnet<>20 , VV, 0)) AS V6   FROM    (     SELECT        heatSourceID,       diameterExternal,       diameterCondit,       diameterInternal,       objectID,       wallThickness,       typnet,       (lenP+lenO)*diameterInternal*diameterInternal*PI()/4/1000/1000 AS VV     FROM heatPipeSectionIstFragment hps   ) _T1   GROUP BY     heatSourceID ) TR LEFT JOIN  ( SELECT      heatSourceID,     sum(gOt_pr*volWaterHS) AS Vot,     sum(gVent_pr*volWaterVS) AS Vvent,     sum(gGvs_pr*volWaterOpenGvs) AS Vgvs,     sum(gOt_pr1*volWaterHS) AS Vot1,     sum(gVent_pr1*volWaterVS) AS Vvent1,     sum(gGvs_pr1*volWaterOpenGvs) AS Vgvs1,     sum(gOt_pr2*volWaterHS) AS Vot2,     sum(gVent_pr2*volWaterVS) AS Vvent2,     sum(gGvs_pr2*volWaterOpenGvs) AS Vgvs2,     sum(gOt_pr3*volWaterHS) AS Vot3,     sum(gVent_pr3*volWaterVS) AS Vvent3,     sum(gGvs_pr3*volWaterOpenGvs) AS Vgvs3 FROM (   SELECT      ec.heatSourceID,     sum(IIF(buildingTypeID=1,calcHLdep+calcHLindep, 0)) AS gOt_pr1,     sum(IIF(buildingTypeID=1,calcHLventil, 0)) AS gVent_pr1,     sum(IIF(buildingTypeID=1,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr1,     sum(IIF(buildingTypeID=2,calcHLdep+calcHLindep, 0)) AS gOt_pr2,     sum(IIF(buildingTypeID=2,calcHLventil, 0)) AS gVent_pr2,     sum(IIF(buildingTypeID=2,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr2,     sum(IIF(buildingTypeID=3,calcHLdep+calcHLindep, 0)) AS gOt_pr3,     sum(IIF(buildingTypeID=3,calcHLventil, 0)) AS gVent_pr3,     sum(IIF(buildingTypeID=3,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr3,     sum(calcHLdep+calcHLindep) AS gOt_pr,     sum(calcHLventil) AS gVent_pr,     sum(avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON) AS gGvs_pr,     IIF(hlm.useTableData=0, rc.volWaterHS, hlm.volWaterHS) AS volWaterHS,     IIF(hlm.useTableData=0, rc.volWaterVS, hlm.volWaterVS) AS volWaterVS,     hlm.volWaterOpenGvs   FROM realConsumers2 rc   JOIN nodes n ON n.id = rc.nodeID   join TEMP_NODE ON n.id=TEMP_NODE.id   left join externalCodes ec on ec.id = n.externalCodeID   join heatLosesMain hlm ON hlm.id=@seasonID   WHERE n.removed=0   GROUP BY     hlm.volWaterHS,     hlm.volWaterVS,     hlm.volWaterOpenGvs,     hlm.useTableData,     rc.volWaterHS,     rc.volWaterVS,     ec.heatSourceID ) _TTT1 GROUP BY     heatSourceID,     volWaterOpenGvs ) PR ON PR.heatSourceID = TR.heatSourceID LEFT JOIN  ( SELECT heatSourceID, SUM(IIF(belongMS=1, V, 0)) AS VObM, SUM(IIF(belongMS<>1, V, 0)) AS VObR    FROM    (     SELECT heatSourceID, belongMS, SUM(POWER(diameterInternal/1000,2)*PI()/4*pipeSectLength) AS V       FROM heatPipeSectionsHarness       GROUP BY       heatSourceID,belongMS   ) _TT1   GROUP BY heatSourceID ) OBV ON OBV.heatSourceID=TR.heatSourceID     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[losesVolumesViewFragmentFact]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[losesVolumesViewFragmentFact](@seasonID int) RETURNS  @losesVolumesViewFragmentFact TABLE  (     heatSourceID int,     V1 float,     V2 float,     Vpodv float,     V6 float,     Vsts float,     Vot1 float,     Vvent1 float,     Vgvs1 float,     Vot2 float,     Vvent2 float,     Vgvs2 float,     Vot3 float,     Vvent3 float,     Vgvs3 float,     Vot float,     Vvent float,     Vgvs float,     Vpotr float,     VobM float,     VobR float ) as BEGIN     INSERT INTO @losesVolumesViewFragmentFact SELECT      TR.heatSourceID,     V1,     V2,     Vpodv,       V6,     V1+V2+V6 AS Vsts,     Vot1,     Vvent1,     Vgvs1,     Vot2,     Vvent2,     Vgvs2,     Vot3,     Vvent3,     Vgvs3,     Vot,     Vvent,     Vgvs,     Vot+Vvent+Vgvs AS Vpotr,     IIF(VobM IS NULL, 0, VobM) AS VobM,     IIF(VobR IS NULL, 0, VobR) AS VobR FROM  (   SELECT      heatSourceID,     sum(IIF(objectID = 1 AND typnet <> 20, VV, 0)) AS V1,     sum(IIF(objectID <> 1 AND typnet <> 20, VV, 0)) AS V2,     sum(IIF(typnet = 20, VV, 0)) AS Vpodv,    sum(IIF(typnet<>20 , VV, 0)) AS V6   FROM    (     SELECT        heatSourceID,       diameterExternal,       diameterCondit,       diameterInternal,       objectID,       wallThickness,       typnet,       (lenP+lenO)*diameterInternal*diameterInternal*PI()/4/1000/1000 AS VV     FROM heatPipeSectionIstFragmentFact hps   ) _T1   GROUP BY     heatSourceID ) TR LEFT JOIN  ( SELECT      heatSourceID,     sum(gOt_pr*volWaterHS) AS Vot,     sum(gVent_pr*volWaterVS) AS Vvent,     sum(gGvs_pr*volWaterOpenGvs) AS Vgvs,     sum(gOt_pr1*volWaterHS) AS Vot1,     sum(gVent_pr1*volWaterVS) AS Vvent1,     sum(gGvs_pr1*volWaterOpenGvs) AS Vgvs1,     sum(gOt_pr2*volWaterHS) AS Vot2,     sum(gVent_pr2*volWaterVS) AS Vvent2,     sum(gGvs_pr2*volWaterOpenGvs) AS Vgvs2,     sum(gOt_pr3*volWaterHS) AS Vot3,     sum(gVent_pr3*volWaterVS) AS Vvent3,     sum(gGvs_pr3*volWaterOpenGvs) AS Vgvs3 FROM (   SELECT      ec.heatSourceID,     sum(IIF(buildingTypeID=1,calcHLdep+calcHLindep, 0)) AS gOt_pr1,     sum(IIF(buildingTypeID=1,calcHLventil, 0)) AS gVent_pr1,     sum(IIF(buildingTypeID=1,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr1,     sum(IIF(buildingTypeID=2,calcHLdep+calcHLindep, 0)) AS gOt_pr2,     sum(IIF(buildingTypeID=2,calcHLventil, 0)) AS gVent_pr2,     sum(IIF(buildingTypeID=2,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr2,     sum(IIF(buildingTypeID=3,calcHLdep+calcHLindep, 0)) AS gOt_pr3,     sum(IIF(buildingTypeID=3,calcHLventil, 0)) AS gVent_pr3,     sum(IIF(buildingTypeID=3,avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON, 0)) AS gGvs_pr3,     sum(calcHLdep+calcHLindep) AS gOt_pr,     sum(calcHLventil) AS gVent_pr,     sum(avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON) AS gGvs_pr,     IIF(hlm.useTableData=0, rc.volWaterHS, hlm.volWaterHS) AS volWaterHS,     IIF(hlm.useTableData=0, rc.volWaterVS, hlm.volWaterVS) AS volWaterVS,     hlm.volWaterOpenGvs   FROM realConsumers2 rc   JOIN nodes n ON n.id = rc.nodeID   join TEMP_NODE ON n.id=TEMP_NODE.id   left join externalCodes ec on ec.id = n.externalCodeID   join heatLosesMainFact hlm ON hlm.id=@seasonID   WHERE n.removed=0   GROUP BY     hlm.volWaterHS,     hlm.volWaterVS,     hlm.volWaterOpenGvs,     hlm.useTableData,     rc.volWaterHS,     rc.volWaterVS,     ec.heatSourceID ) _TTT1 GROUP BY     heatSourceID,     volWaterOpenGvs ) PR ON PR.heatSourceID = TR.heatSourceID LEFT JOIN  ( SELECT heatSourceID, SUM(IIF(belongMS=1, V, 0)) AS VObM, SUM(IIF(belongMS<>1, V, 0)) AS VObR    FROM    (     SELECT heatSourceID, belongMS, SUM(POWER(diameterInternal/1000,2)*PI()/4*pipeSectLength) AS V       FROM heatPipeSectionsHarness       GROUP BY       heatSourceID,belongMS   ) _TT1   GROUP BY heatSourceID ) OBV ON OBV.heatSourceID=TR.heatSourceID     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[psvView]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[psvView](@seasonID int) RETURNS  @psvView TABLE  ( heatSourceID int,  r int, m int, sezon int, fillingG float,  fillingQ float,  avgGpressingG float, avgGpressingQ float, avgGflushingG float, avgGflushingQ float, avgGsarzG float, avgGsarzQ float, normG float, normQ float ) as BEGIN     INSERT INTO @psvView SELECT lsm.heatSourceID, lsm.r,lsm.m,lsm.sezon,   IIF((((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100)) IS NULL,0, (((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100))) AS fillingG,    (IIF((((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100)) IS NULL,0, (((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100))))*(IIF(bf.netTemperature IS NULL,0,bf.netTemperature)-lsm.tx)/1000 AS fillingQ,    IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.spring_pressing/100,    IIF(lsm.m=hls.pressingMonth2 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.autumn_pressing/100, 0))    AS avgGpressingG,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.spring_pressing/100*(hls.netTempPressing1-hls.coldTempPressing1)/1000,    IIF(lsm.m=hls.pressingMonth2 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.autumn_pressing/100*(hls.netTempPressing2-hls.coldTempPressing2)/1000, 0))    AS avgGpressingQ,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.flushing*(hls.flushing_flow+hls.flushing_ret)/2, 0) AS avgGflushingG,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.flushing*(hls.flushing_flow+hls.flushing_ret)/2, 0)*(hls.flushing_temp1-hls.flushinghs_temp2) AS avgGflushingQ,   lsm.workCountFlow*lsm.netWaterExpFlow*(lsm.regCountFlow+lsm.regCountNodeFlow)*24+lsm.workCountRet*lsm.netWaterExpRet*(lsm.regCountRet+lsm.regCountNodeRet)*24 AS avgGsarzG,   (lsm.workCountFlow*lsm.netWaterExpFlow*(lsm.regCountFlow+lsm.regCountNodeFlow)*24+lsm.workCountRet*lsm.netWaterExpRet*(lsm.regCountRet+lsm.regCountNodeRet)*24)*(tv.tgP-tv.tx)/1000 AS avgGsarzQ,   ((V1+VobM+V2+Vpodv+VobR)*IIF(lsm.sezon=1, 1, 0.5+hls.t_percent/200)+     ((lv.Vot+lv.Vvent)*IIF(lsm.sezon=1, 1, 0)+lv.Vgvs)   )*lm.a/100*lsm.workCount*24 AS normG,   (((V1+VobM+V2+Vpodv+VobR)*IIF(lsm.sezon=1, 1, 0.5+hls.t_percent/200)+     ((lv.Vot+lv.Vvent)*IIF(lsm.sezon=1, 1, 0)+lv.Vgvs)   )*lm.a/100*lsm.workCount*24)*tv.dt/1000 AS normQ FROM heatLosesSourceMonths lsm LEFT JOIN heatLosesSource hls ON lsm.heatSourceID=hls.heatSourceID LEFT JOIN losesvolumesview(@seasonID) lv ON lv.heatSourceID=lsm.heatSourceID LEFT JOIN losesByFilling bf ON BF.heatSourceID = lsm.heatSourceID AND bf.monthID=lsm.m AND lsm.sezon=2 LEFT JOIN heatLosesMain lm ON lm.id=@seasonID LEFT JOIN tempView tv ON tv.hID=lsm.heatSourceID AND tv.r=lsm.r AND tv.m=lsm.m     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[psvViewFact]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[psvViewFact](@seasonID int) RETURNS  @psvViewFact TABLE  ( heatSourceID int,  r int, m int, sezon int, fillingG float,  fillingQ float,  avgGpressingG float, avgGpressingQ float, avgGflushingG float, avgGflushingQ float, avgGsarzG float, avgGsarzQ float, normG float, normQ float ) as BEGIN     INSERT INTO @psvViewFact SELECT lsm.heatSourceID, lsm.r,lsm.m,lsm.sezon,   IIF((((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100)) IS NULL,0, (((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100))) AS fillingG,    (IIF((((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100)) IS NULL,0, (((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100))))*(IIF(bf.netTemperature IS NULL,0,bf.netTemperature)-lsm.tx)/1000 AS fillingQ,    IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.spring_pressing/100,    IIF(lsm.m=hls.pressingMonth2 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.autumn_pressing/100, 0))    AS avgGpressingG,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.spring_pressing/100*(hls.netTempPressing1-hls.coldTempPressing1)/1000,    IIF(lsm.m=hls.pressingMonth2 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.autumn_pressing/100*(hls.netTempPressing2-hls.coldTempPressing2)/1000, 0))    AS avgGpressingQ,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.flushing*(hls.flushing_flow+hls.flushing_ret)/2, 0) AS avgGflushingG,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.flushing*(hls.flushing_flow+hls.flushing_ret)/2, 0)*(hls.flushing_temp1-hls.flushinghs_temp2) AS avgGflushingQ,   lsm.workCountFlow*lsm.netWaterExpFlow*(lsm.regCountFlow+lsm.regCountNodeFlow)*24   +lsm.workCountRet*lsm.netWaterExpRet*(lsm.regCountRet+lsm.regCountNodeRet)*24   AS avgGsarzG,   (lsm.workCountFlow*lsm.netWaterExpFlow*(lsm.regCountFlow+lsm.regCountNodeFlow)*24   +lsm.workCountRet*lsm.netWaterExpRet*(lsm.regCountRet+lsm.regCountNodeRet)*24  )*(tv.tgP-tv.tx)/1000 AS avgGsarzQ,   ((V1+VobM+V2+Vpodv+VobR)*IIF(lsm.sezon=1, 1, 0.5+hls.t_percent/200)+     ((lv.Vot+lv.Vvent)*IIF(lsm.sezon=1, 1, 0)+lv.Vgvs)   )*lm.a/100*lsm.workCount*24 AS normG,   (((V1+VobM+V2+Vpodv+VobR)*IIF(lsm.sezon=1, 1, 0.5+hls.t_percent/200)+     ((lv.Vot+lv.Vvent)*IIF(lsm.sezon=1, 1, 0)+lv.Vgvs)   )*lm.a/100*lsm.workCount*24)*tv.dt/1000 AS normQ FROM heatLosesSourceMonthsFact lsm LEFT JOIN heatLosesSourceFact hls ON lsm.heatSourceID=hls.heatSourceID LEFT JOIN losesVolumesViewFact(@seasonID) lv ON lv.heatSourceID=lsm.heatSourceID LEFT JOIN losesByFillingFact bf ON BF.heatSourceID = lsm.heatSourceID AND bf.monthID=lsm.m AND lsm.sezon=2 LEFT JOIN heatLosesMainFact lm ON lm.id=@seasonID LEFT JOIN tempViewFact tv ON tv.hID=lsm.heatSourceID AND tv.r=lsm.r AND tv.m=lsm.m     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[psvViewFragment]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[psvViewFragment](@seasonID int) RETURNS  @psvViewFragment TABLE  ( heatSourceID int,  r int, m int, sezon int, fillingG float,  fillingQ float,  avgGpressingG float, avgGpressingQ float, avgGflushingG float, avgGflushingQ float, avgGsarzG float, avgGsarzQ float, normG float, normQ float ) as BEGIN     INSERT INTO @psvViewFragment SELECT lsm.heatSourceID, lsm.r,lsm.m,lsm.sezon,   IIF((((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100)) IS NULL,0, (((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100))) AS fillingG,    (IIF((((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100)) IS NULL,0, (((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100))))*(IIF(bf.netTemperature IS NULL,0,bf.netTemperature)-lsm.tx)/1000 AS fillingQ,    IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.spring_pressing/100,    IIF(lsm.m=hls.pressingMonth2 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.autumn_pressing/100, 0))    AS avgGpressingG,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.spring_pressing/100*(hls.netTempPressing1-hls.coldTempPressing1)/1000,    IIF(lsm.m=hls.pressingMonth2 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.autumn_pressing/100*(hls.netTempPressing2-hls.coldTempPressing2)/1000, 0))    AS avgGpressingQ,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.flushing*(hls.flushing_flow+hls.flushing_ret)/2, 0) AS avgGflushingG,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.flushing*(hls.flushing_flow+hls.flushing_ret)/2, 0)*(hls.flushing_temp1-hls.flushinghs_temp2) AS avgGflushingQ,   lsm.workCountFlow*lsm.netWaterExpFlow*(lsm.regCountFlow+lsm.regCountNodeFlow)*24   +lsm.workCountRet*lsm.netWaterExpRet*(lsm.regCountRet+lsm.regCountNodeRet)*24   AS avgGsarzG,   (lsm.workCountFlow*lsm.netWaterExpFlow*(lsm.regCountFlow+lsm.regCountNodeFlow)*24   +lsm.workCountRet*lsm.netWaterExpRet*(lsm.regCountRet+lsm.regCountNodeRet)*24  )*(tv.tgP-tv.tx)/1000 AS avgGsarzQ,   ((V1+VobM+V2+Vpodv+VobR)*IIF(lsm.sezon=1, 1, 0.5+hls.t_percent/200)+     ((lv.Vot+lv.Vvent)*IIF(lsm.sezon=1, 1, 0)+lv.Vgvs)   )*lm.a/100*lsm.workCount*24 AS normG,   (((V1+VobM+V2+Vpodv+VobR)*IIF(lsm.sezon=1, 1, 0.5+hls.t_percent/200)+     ((lv.Vot+lv.Vvent)*IIF(lsm.sezon=1, 1, 0)+lv.Vgvs)   )*lm.a/100*lsm.workCount*24)*tv.dt/1000 AS normQ FROM heatLosesSourceMonths lsm LEFT JOIN heatLosesSource hls ON lsm.heatSourceID=hls.heatSourceID LEFT JOIN losesVolumesViewFragment(@seasonID) lv ON lv.heatSourceID=lsm.heatSourceID LEFT JOIN losesByFilling bf ON BF.heatSourceID = lsm.heatSourceID AND bf.monthID=lsm.m AND lsm.sezon=2 LEFT JOIN heatLosesMain lm ON lm.id=@seasonID LEFT JOIN tempView tv ON tv.hID=lsm.heatSourceID AND tv.r=lsm.r AND tv.m=lsm.m     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[psvViewFragmentFact]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[psvViewFragmentFact](@seasonID int) RETURNS  @psvViewFragmentFact TABLE  ( heatSourceID int,  r int, m int, sezon int, fillingG float,  fillingQ float,  avgGpressingG float, avgGpressingQ float, avgGflushingG float, avgGflushingQ float, avgGsarzG float, avgGsarzQ float, normG float, normQ float ) as BEGIN     INSERT INTO @psvViewFragmentFact SELECT lsm.heatSourceID, lsm.r,lsm.m,lsm.sezon,   IIF((((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100)) IS NULL,0, (((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100))) AS fillingG,    (IIF((((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100)) IS NULL,0, (((V1+VobM)*1.5*bf.magistralShare/100 +(V2+Vpodv+Vobr)*1.2*bf.distSiteShare/100 +(Vot+Vvent+Vgvs)*1.2*bf.heatingSystemShare/100))))*(IIF(bf.netTemperature IS NULL,0,bf.netTemperature)-lsm.tx)/1000 AS fillingQ,    IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.spring_pressing/100,    IIF(lsm.m=hls.pressingMonth2 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.autumn_pressing/100, 0))    AS avgGpressingG,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.spring_pressing/100*(hls.netTempPressing1-hls.coldTempPressing1)/1000,    IIF(lsm.m=hls.pressingMonth2 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.autumn_pressing/100*(hls.netTempPressing2-hls.coldTempPressing2)/1000, 0))    AS avgGpressingQ,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.flushing*(hls.flushing_flow+hls.flushing_ret)/2, 0) AS avgGflushingG,   IIF(lsm.m=hls.pressingMonth1 AND lsm.sezon=2, (V1+VobM+V2+Vpodv+VobR)*hls.flushing*(hls.flushing_flow+hls.flushing_ret)/2, 0)*(hls.flushing_temp1-hls.flushinghs_temp2) AS avgGflushingQ,   lsm.workCountFlow*lsm.netWaterExpFlow*(lsm.regCountFlow+lsm.regCountNodeFlow)*24   +lsm.workCountRet*lsm.netWaterExpRet*(lsm.regCountRet+lsm.regCountNodeRet)*24   AS avgGsarzG,   (lsm.workCountFlow*lsm.netWaterExpFlow*(lsm.regCountFlow+lsm.regCountNodeFlow)*24   +lsm.workCountRet*lsm.netWaterExpRet*(lsm.regCountRet+lsm.regCountNodeRet)*24  )*(tv.tgP-tv.tx)/1000 AS avgGsarzQ,   ((V1+VobM+V2+Vpodv+VobR)*IIF(lsm.sezon=1, 1, 0.5+hls.t_percent/200)+     ((lv.Vot+lv.Vvent)*IIF(lsm.sezon=1, 1, 0)+lv.Vgvs)   )*lm.a/100*lsm.workCount*24 AS normG,   (((V1+VobM+V2+Vpodv+VobR)*IIF(lsm.sezon=1, 1, 0.5+hls.t_percent/200)+     ((lv.Vot+lv.Vvent)*IIF(lsm.sezon=1, 1, 0)+lv.Vgvs)   )*lm.a/100*lsm.workCount*24)*tv.dt/1000 AS normQ FROM heatLosesSourceMonthsFact lsm LEFT JOIN heatLosesSourceFact hls ON lsm.heatSourceID=hls.heatSourceID LEFT JOIN losesVolumesViewFragmentFact(@seasonID) lv ON lv.heatSourceID=lsm.heatSourceID LEFT JOIN losesByFillingFact bf ON BF.heatSourceID = lsm.heatSourceID AND bf.monthID=lsm.m AND lsm.sezon=2 LEFT JOIN heatLosesMainFact lm ON lm.id=@seasonID LEFT JOIN tempViewFact tv ON tv.hID=lsm.heatSourceID AND tv.r=lsm.r AND tv.m=lsm.m     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[tankbatteryView]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[tankbatteryView](@seasonID int) RETURNS  @tankbatteryView TABLE  (   heatSourceID int,   r int,   m int,   tn float,   tgO float,   qTB float,   workCount int ) as BEGIN     INSERT INTO @tankbatteryView SELECT   TAB2.heatSourceID,   TAB2.r,   TAB2.m,   TAB2.tn,   TAB2.tgO,   SUM(TAB2.q) AS qTB,   TAB2.workCount FROM    heatLosesMain h1 JOIN  ( SELECT    hlm.id,   iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AS heatSourceID,   ec.name, n.externalNodeName, tv.r, tv.m, tv.sezon, tv.tn, tv.tgO, b.designCapacity, b.quantity, b.height, b.diameter, PI()*b.diameter/1000*(b.height+b.diameter/2)/1000*2 AS F, PI()*b.diameter/1000*(b.height+b.diameter/2)/1000*2*hlm.tankbattery_q/1000000*(tv.tgO-tv.tx)/(tvg.tgO-tvg.tx) AS q, (tv.tgO-tv.tx)/(tvg.tgO-tvg.tx) AS TT, tv.workCount FROM tankBatteries b JOIN nodes n ON b.nodeID = n.id JOIN externalCodes ec ON n.externalCodeID = ec.id left join externalCodes ecm on ec.belongMagistral = ecm.id AND ec.objectID=2 LEFT JOIN tempview tv ON tv.hID=iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) LEFT JOIN tempview tvg ON tv.hID=iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AND tvg.m=15 LEFT JOIN heatLosesMain hlm ON hlm.id=@seasonID ) TAB2 ON TAB2.id=h1.id LEFT JOIN heatLosesSourceMonths lsm ON lsm.heatSourceID=TAB2.heatSourceID AND lsm.r=TAB2.r AND TAB2.m=lsm.m GROUP BY   TAB2.heatSourceID,   TAB2.TT,   TAB2.workCount,   TAB2.r,   TAB2.m,   TAB2.sezon,   TAB2.tn,   TAB2.tgO     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[tankbatteryViewFact]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[tankbatteryViewFact](@seasonID int) RETURNS  @tankbatteryViewFact TABLE  (   heatSourceID int,   r int,   m int,   tn float,   tgO float,   qTB float,   workCount int ) as BEGIN     INSERT INTO @tankbatteryViewFact SELECT   TAB2.heatSourceID,   TAB2.r,   TAB2.m,   TAB2.tn,   TAB2.tgO,   SUM(TAB2.q) AS qTB,   TAB2.workCount FROM    heatLosesMainFact h1 JOIN  ( SELECT    hlm.id,   iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AS heatSourceID,   ec.name, n.externalNodeName, tv.r, tv.m, tv.sezon, tv.tn, tv.tgO, b.designCapacity, b.quantity, b.height, b.diameter, PI()*b.diameter/1000*(b.height+b.diameter/2)/1000*2 AS F, PI()*b.diameter/1000*(b.height+b.diameter/2)/1000*2*hlm.tankbattery_q/1000000*(tv.tgO-tv.tx)/(tvg.tgO-tvg.tx) AS q, (tv.tgO-tv.tx)/(tvg.tgO-tvg.tx) AS TT, tv.workCount FROM tankBatteries b JOIN nodes n ON b.nodeID = n.id JOIN externalCodes ec ON n.externalCodeID = ec.id left join externalCodes ecm on ec.belongMagistral = ecm.id AND ec.objectID=2 LEFT JOIN tempViewFact tv ON tv.hID=iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) LEFT JOIN tempViewFact tvg ON tv.hID=iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AND tvg.m=15 LEFT JOIN heatLosesMainFact hlm ON hlm.id=@seasonID ) TAB2 ON TAB2.id=h1.id LEFT JOIN heatLosesSourceMonthsFact lsm ON lsm.heatSourceID=TAB2.heatSourceID AND lsm.r=TAB2.r AND TAB2.m=lsm.m GROUP BY   TAB2.heatSourceID,   TAB2.TT,   TAB2.workCount,   TAB2.r,   TAB2.m,   TAB2.sezon,   TAB2.tn,   TAB2.tgO     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[tankbatteryViewFragment]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[tankbatteryViewFragment](@seasonID int) RETURNS  @tankbatteryViewFragment TABLE  (   heatSourceID int,   r int,   m int,   tn float,   tgO float,   qTB float,   workCount int ) as BEGIN     INSERT INTO @tankbatteryViewFragment SELECT   TAB2.heatSourceID,   TAB2.r,   TAB2.m,   TAB2.tn,   TAB2.tgO,   SUM(TAB2.q) AS qTB,   TAB2.workCount FROM    heatLosesMain h1 JOIN  ( SELECT    hlm.id,   iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AS heatSourceID,   ec.name, n.externalNodeName, tv.r, tv.m, tv.sezon, tv.tn, tv.tgO, b.designCapacity, b.quantity, b.height, b.diameter, PI()*b.diameter/1000*(b.height+b.diameter/2)/1000*2 AS F, PI()*b.diameter/1000*(b.height+b.diameter/2)/1000*2*hlm.tankbattery_q/1000000*(tv.tgO-tv.tx)/(tvg.tgO-tvg.tx) AS q, (tv.tgO-tv.tx)/(tvg.tgO-tvg.tx) AS TT, tv.workCount FROM tankBatteries b JOIN nodes n ON b.nodeID = n.id join TEMP_NODE ON n.id=TEMP_NODE.id JOIN externalCodes ec ON n.externalCodeID = ec.id left join externalCodes ecm on ec.belongMagistral = ecm.id AND ec.objectID=2 LEFT JOIN tempview tv ON tv.hID=iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) LEFT JOIN tempview tvg ON tv.hID=iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AND tvg.m=15 LEFT JOIN heatLosesMain hlm ON hlm.id=@seasonID ) TAB2 ON TAB2.id=h1.id LEFT JOIN heatLosesSourceMonths lsm ON lsm.heatSourceID=TAB2.heatSourceID AND lsm.r=TAB2.r AND TAB2.m=lsm.m GROUP BY   TAB2.heatSourceID,   TAB2.TT,   TAB2.workCount,   TAB2.r,   TAB2.m,   TAB2.sezon,   TAB2.tn,   TAB2.tgO     RETURN END;
GO
/****** Object:  UserDefinedFunction [dbo].[tankbatteryViewFragmentFact]    Script Date: 16.11.2021 16:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[tankbatteryViewFragmentFact](@seasonID int) RETURNS  @tankbatteryViewFragmentFact TABLE  (   heatSourceID int,   r int,   m int,   tn float,   tgO float,   qTB float,   workCount int ) as BEGIN     INSERT INTO @tankbatteryViewFragmentFact SELECT   TAB2.heatSourceID,   TAB2.r,   TAB2.m,   TAB2.tn,   TAB2.tgO,   SUM(TAB2.q) AS qTB,   TAB2.workCount FROM    heatLosesMainFact h1 JOIN  ( SELECT    hlm.id,   iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AS heatSourceID,   ec.name, n.externalNodeName, tv.r, tv.m, tv.sezon, tv.tn, tv.tgO, b.designCapacity, b.quantity, b.height, b.diameter, PI()*b.diameter/1000*(b.height+b.diameter/2)/1000*2 AS F, PI()*b.diameter/1000*(b.height+b.diameter/2)/1000*2*hlm.tankbattery_q/1000000*(tv.tgO-tv.tx)/(tvg.tgO-tvg.tx) AS q, (tv.tgO-tv.tx)/(tvg.tgO-tvg.tx) AS TT, tv.workCount FROM tankBatteries b JOIN nodes n ON b.nodeID = n.id join TEMP_NODE ON n.id=TEMP_NODE.id JOIN externalCodes ec ON n.externalCodeID = ec.id left join externalCodes ecm on ec.belongMagistral = ecm.id AND ec.objectID=2 LEFT JOIN tempViewFact tv ON tv.hID=iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) LEFT JOIN tempViewFact tvg ON tv.hID=iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AND tvg.m=15 LEFT JOIN heatLosesMainFact hlm ON hlm.id=@seasonID ) TAB2 ON TAB2.id=h1.id LEFT JOIN heatLosesSourceMonthsFact lsm ON lsm.heatSourceID=TAB2.heatSourceID AND lsm.r=TAB2.r AND TAB2.m=lsm.m GROUP BY   TAB2.heatSourceID,   TAB2.TT,   TAB2.workCount,   TAB2.r,   TAB2.m,   TAB2.sezon,   TAB2.tn,   TAB2.tgO     RETURN END;
GO
