/****** Object:  View [dbo].[realConsumers2]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[realConsumers2] AS SELECT [id]       ,[nodeID]       ,[consumerStateID]       ,[calcHLdep]       ,[calcHLindep]       ,[calcInternHD]       ,[calcHLventil]       ,[avgHLcond]       ,[avgHLcloseSys]       ,[avgHLopenSysFlow]       ,[avgHLopenSysRet]       ,[avgHLGVSopenFlow]       ,[avgHLGVSopenRet]       ,[avgHLGVScloseParall]       ,[avgHLGVScloseMix]       ,[avgHLGVScloseConseq]       ,[avgHLGVSclosePreON]       ,[volWaterHS]       ,[volWaterVS]       ,[buildingTypeID] ,[WEmeteringDeviceID] ,[calcSignResWDORetID] ,[closeSysCalcSignID] ,[calcSignOpenSysFlowID] ,[calcSignSetLoadCloseSys] ,[calcSignSetLoadOpenSysFlow] ,[calcSignSetLoadOpenSysRet] ,[varCoeffID] ,[gvsLoadGraphID] ,[calcTemperatureID] ,[specExpendID] ,[hydroModeSignID] ,[PDvalveInstallLocID] ,[responsibleID] ,[automDegID] ,[calcFerDiameterSignID] ,[temperChartSignID] ,[throtStageSignID] ,[stopValveTypeID] ,[circHLosOpen]   FROM [realConsumers] UNION SELECT gc.[id]       ,[nodeID]       ,[consumerStateID]       ,[calcHLdep]+[calcHLparall]+[calcHLconseq]+[calcHLmix]+[calcHLpreON] as calcHLdep       ,[calcHLindep]       ,[calcInternHDdep]+[calcInternHDindep] AS [calcInternHD]       ,[calcHLventil]       ,IIF(calcHLcond IS NULL, 0, calcHLcond) AS calcHLcond       ,[calcHLcloseSys]       ,[calcHLopenSysFlow]       ,[calcHLopenSysRet]       ,[avgHLGVSopenSysFlow]       ,[avgHLGVSopenSysRet]       ,[calcHLGVSparall]       ,[calcHLGVSmix]       ,[calcHLGVSconseq]       ,[calcHLGVSpreON]       ,[volWaterHS]       ,[volWaterVS]       , 1 AS buildingTypeID ,[WEmeteringDeviceID] ,[calcSignResWDORetID] ,[closeSysCalcSignID] ,[calcSignOpenSysFlowID] ,[calcSignSetLoadCloseSys] ,[calcSignSetLoadOpenSysFlow] ,[calcSignSetLoadOpenSysRet] ,[varCoeffID] ,[gvsLoadGraphID] ,[calcTemperatureID] ,[specExpendID] ,[hydroModeSignID] ,[PDvalveInstallLocID] ,NULL AS [responsibleID] ,1 AS [automDegID] ,1 AS [calcFerDiameterSignID] ,1 AS [temperChartSignID] ,1 AS [throtStageSignID] ,1 AS [stopValveTypeID] ,0 AS [circHLosOpen]   FROM [generalizedConsumers] gc   JOIN nodes n ON n.id=gc.nodeID   join externalCodes ec ON ec.id=n.externalCodeID AND ec.objectID <> 1 AND ec.objectID <> 9 ;
GO
/****** Object:  View [dbo].[realConsumerIst]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[realConsumerIst] as   SELECT      n.id,     n.externalCodeID,     n.externalNodeName,     iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AS heatSourceID,     calcHLdep+calcHLindep AS gOt_pr,     calcHLventil AS gVent_pr,     avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON AS gGvs_pr,     avgHLGVSopenFlow+avgHLGVSopenRet AS gGvsOpen_pr,     IIF(hlm.useTableData=0, rc.volWaterHS, hlm.volWaterHS) AS volWaterHS,     IIF(hlm.useTableData=0, rc.volWaterVS, hlm.volWaterVS) AS volWaterVS,     hlm.volWaterOpenGvs   FROM realConsumers2 rc   JOIN nodes n ON n.id = rc.nodeID   LEFT JOIN externalCodes ec on ec.id = n.externalCodeID   left join externalCodes ecm on ec.belongMagistral = ecm.id AND ec.objectID=2   JOIN heatLosesMain hlm ON hlm.id=1   WHERE n.removed=0 ;
GO
/****** Object:  View [dbo].[realConsumerIstFact]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[realConsumerIstFact] as   SELECT      n.id,     n.externalCodeID,     n.externalNodeName,     iif(ec.objectID  <> 2, ec.heatSourceID, ecm.heatSourceID) AS heatSourceID,     calcHLdep+calcHLindep AS gOt_pr,     calcHLventil AS gVent_pr,     avgHLGVSopenFlow+avgHLGVSopenRet+avgHLGVScloseParall+avgHLGVScloseMix+avgHLGVScloseConseq+avgHLGVSclosePreON AS gGvs_pr,     avgHLGVSopenFlow+avgHLGVSopenRet AS gGvsOpen_pr,     IIF(hlm.useTableData=0, rc.volWaterHS, hlm.volWaterHS) AS volWaterHS,     IIF(hlm.useTableData=0, rc.volWaterVS, hlm.volWaterVS) AS volWaterVS,     hlm.volWaterOpenGvs   FROM realConsumers2 rc   JOIN nodes n ON n.id = rc.nodeID   LEFT JOIN externalCodes ec on ec.id = n.externalCodeID   left join externalCodes ecm on ec.belongMagistral = ecm.id AND ec.objectID=2   JOIN heatLosesMainFact hlm ON hlm.id=1   WHERE n.removed=0 ;
GO
/****** Object:  View [dbo].[UT_KTP_OUT_view]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[UT_KTP_OUT_view] AS SELECT DISTINCT diameterCondit AS diameterCondit_KTP, tubingTypeID AS tubingTypeID_KTP,  CASE WHEN  diameterCondit >= diametr THEN beta_mag ELSE  beta_rasp END AS beta FROM heatPipeSections LEFT JOIN sprav.dbo.[30_koeffitsienty_mestnyh_teplovyh_poter] s10 ON s10.id=1 AND tubingTypeID=2 OR s10.id=2 AND (tubingTypeID=1 OR tubingTypeID=3) OR s10.id=3 AND tubingTypeID=4 ORDER BY    diameterCondit, tubingTypeID OFFSET 0 ROWS ;
GO
/****** Object:  View [dbo].[tempView]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[tempView] as SELECT   hID,   r,   m,   sezon,    tn,   tpod,   tgr,   tgP,   tgO,   tx,   ((tgP+tgO)/2-tx) AS dT,   ((tgP+tgO)/2-tgr) AS dTgr,   ((tgP+tgO)/2-tpod) AS dTpod,   workCount FROM ( SELECT   heatSourceID AS hID,   iif(sezon=1, 15, 16) AS r,   iif(sezon=1, 13, 14) AS m,   sezon,    sum(tn*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tn,   sum(tpod*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tpod,   sum(tgr*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgr,   sum(tgP*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgP,   sum(tgO*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgO,   sum(tx*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tx,   sum(workCount) AS workCount FROM (   SELECT      heatSourceID,     r,      m,      sezon,      tn,      tpod,      tgr,     tgP,      tgO,      tx,      workCount    FROM heatLosesSourceMonths ) _T1 GROUP BY   heatSourceID,   sezon UNION   SELECT      heatSourceID,     r,      m,      sezon,      tn,      tpod,      tgr,     tgP,      tgO,      tx,      workCount    FROM heatLosesSourceMonths hls UNION SELECT   heatSourceID,   17 AS r,   15 AS m,   3,    sum(tn*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tn,   sum(tpod*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tpod,   sum(tgr*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgr,   sum(tgP*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgP,   sum(tgO*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgO,   sum(tx*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tx,   sum(workCount) AS workCount FROM (   SELECT      heatSourceID,     r,      m,      sezon,      tn,      tpod,      tgr,     tgP,      tgO,      tx,      workCount    FROM heatLosesSourceMonths hls ) _T2 GROUP BY   heatSourceID ) _T3 ;
GO
/****** Object:  View [dbo].[heatPipeSectionIst]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[heatPipeSectionIst] as  SELECT     id,    objectID,    heatSourceID,    y_norm,    diameterExternal,    diameterCondit,    diameterInternal,    wallThickness,    tubingTypeID,    orgID,    typnet,  dbo.getCoeff(    1,     coeffDefault,heatTestsCoeff,pipeRemontTypeID,tubingTypeID, y_norm, typnet,  coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1, coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r   ) AS heatTestsCoeffP   ,  dbo.getCoeff(    2,     coeffDefault,heatTestsCoeff,pipeRemontTypeID,tubingTypeID, y_norm, typnet,  coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1, coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r   ) AS heatTestsCoeffO   ,     signNumWork,     lenP,     lenO FROM (  SELECT     l.id,    ec2.objectID,    IIF(ec2.objectID  <> 2, ec2.heatSourceID, ecm.heatSourceID) AS heatSourceID,    IIF(YEAR(lastTransDate) < 1990, 1, IIF(YEAR(lastTransDate) < 1998, 2, IIF(YEAR(lastTransDate) <= 2003, 3, 4))) AS y_norm,    diameterExternal,    diameterCondit,    diameterInternal,    wallThickness,    tubingTypeID,    l.organizationID AS orgID,    coeffDefault,    heatTestsCoeff,    pipeRemontTypeID,    coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1,coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r,    IIF(tubingTypeID = 3, 20,      IIF(tubingTypeID = 5, 30,        case ec2.objectID      when 1 then 1          when 2 then 2          when 10 then 3         when 11 then 4         when 12 then 5         when 3 then 6          when 4 then 7          when 5 then 8          when 6 then 9          when 7 then 10          when 8 then 11          when 9 then 12          else 40      end     ))  AS typnet,     IIF(YEAR(lastTransDate) < 1990, 1, signNumWork) AS signNumWork,     IIF(externalSignLineID IN (1,2,4), pipeSectLength, 0) AS lenP,     IIF(externalSignLineID IN (1,3,5), pipeSectLength, 0) AS lenO  FROM heatPipeSections hps  left join linesobj l on l.id = hps.lineID  left join nodes n2 on n2.id = l.nodeID2  left join externalCodes ec2 on ec2.id = n2.externalCodeID   left join externalCodes ecm on ec2.belongMagistral = ecm.id AND ec2.objectID=2  left join heatLosesSource hls on hls.heatSourceID=IIF(ec2.objectID  <> 2, ec2.heatSourceID, ecm.heatSourceID)  WHERE n2.internalNodeID is NULL AND l.removed=0 ) _TTT2 ;
GO
/****** Object:  View [dbo].[normMon]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[normMon] as     SELECT         L1.heatSourceID,         tempView.r,         tempView.m,         tempView.sezon,         ut_ktp_out_view.beta,         typnet,         tubingTypeID,         y_norm,         signNumWork,         diameterCondit,         diameterInternal,         heatTestsCoeffP,         heatTestsCoeffO,         dbo.get_qq(tubingTypeID, y_norm, signNumWork, 1, tgP, tgO, tgr, tpod, tn, tnSt, tgrSt, t2, t1_1, t1_2, t1_3, t1_4, qp_1, qo_1,  qp_2, qo_2,  qp_3, qo_3,  qp_4, qo_4,  qp_1gt5000, qo_1gt5000,  qp_2gt5000, qo_2gt5000,  qp_3gt5000, qo_3gt5000,  qp_4gt5000,  qo_4gt5000) AS qp,         dbo.get_qq(tubingTypeID, y_norm, signNumWork, 2, tgP, tgO, tgr, tpod, tn, tnSt, tgrSt, t2, t1_1, t1_2, t1_3, t1_4, qp_1, qo_1,  qp_2, qo_2,  qp_3, qo_3,  qp_4, qo_4,  qp_1gt5000, qo_1gt5000,  qp_2gt5000, qo_2gt5000,  qp_3gt5000, qo_3gt5000,  qp_4gt5000,  qo_4gt5000) AS qo,                lenP,         lenO     FROM      (       SELECT           _T1.heatSourceID,           typnet,           y_norm,           tubingTypeID,           signNumWork,           heatTestsCoeffP,           heatTestsCoeffO,           diameterExternal,           diameterCondit,           diameterInternal,           sum(lenP) AS lenP,           sum(lenO) AS lenO       FROM heatPipeSectionIst _T1       GROUP BY           _T1.heatSourceID,           typnet,           y_norm,           tubingTypeID,           signNumWork,           heatTestsCoeffP,           heatTestsCoeffO,           diameterExternal,           diameterCondit,           diameterInternal     ) L1       JOIN     (         SELECT DISTINCT              d, dy, date AS yy, IIF(proklad='К', 1, IIF(proklad='Б', 2, 4)) AS tubingTypeID_39,             proklad,             t2,             s39.tn AS tnSt,             s39.tg AS tgrSt,             t1_1, t1_2, t1_3, t1_4,             qp_1, qp_2, qp_3, qp_4,             qo_1, qo_2, qo_3, qo_4,             qp_1gt5000, qp_2gt5000, qp_3gt5000, qp_4gt5000,             qo_1gt5000, qo_2gt5000, qo_3gt5000, qo_4gt5000         FROM sprav.dbo.[39_Normy_teplovyh_poter] s39     ) s39     ON (diameterExternal=s39.d OR diameterCondit=s39.dy) AND y_norm=s39.yy AND (tubingTypeID = tubingTypeID_39 OR (tubingTypeID IN (3,4,5) AND tubingTypeID_39=4))     JOIN tempView ON tempView.hID=L1.heatSourceID     LEFT JOIN ut_ktp_out_view ON ut_ktp_out_view.diameterCondit_KTP=diameterCondit AND ut_ktp_out_view.tubingTypeID_KTP = tubingTypeID ;
GO
/****** Object:  View [dbo].[tempViewFact]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[tempViewFact] as SELECT   hID,   r,   m,   sezon,    tn,   tpod,   tgr,   tgP,   tgO,   tx,   ((tgP+tgO)/2-tx) AS dT,   ((tgP+tgO)/2-tgr) AS dTgr,   ((tgP+tgO)/2-tpod) AS dTpod,   workCount FROM ( SELECT   heatSourceID AS hID,   iif(sezon=1, 15, 16) AS r,   iif(sezon=1, 13, 14) AS m,   sezon,    sum(tn*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tn,   sum(tpod*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tpod,   sum(tgr*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgr,   sum(tgP*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgP,   sum(tgO*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgO,   sum(tx*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tx,   sum(workCount) AS workCount FROM (   SELECT      heatSourceID,     r,      m,      sezon,      tn,      tpod,      tgr,     tgP,      tgO,      tx,      workCount    FROM heatLosesSourceMonthsFact ) _T1 GROUP BY   heatSourceID,   sezon UNION   SELECT      heatSourceID,     r,      m,      sezon,      tn,      tpod,      tgr,     tgP,      tgO,      tx,      workCount    FROM heatLosesSourceMonthsFact hls UNION SELECT   heatSourceID,   17 AS r,   15 AS m,   3,    sum(tn*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tn,   sum(tpod*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tpod,   sum(tgr*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgr,   sum(tgP*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgP,   sum(tgO*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgO,   sum(tx*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tx,   sum(workCount) AS workCount FROM (   SELECT      heatSourceID,     r,      m,      sezon,      tn,      tpod,      tgr,     tgP,      tgO,      tx,      workCount    FROM heatLosesSourceMonthsFact hls ) _T2 GROUP BY   heatSourceID ) _T3 ;
GO
/****** Object:  View [dbo].[heatPipeSectionIstFact]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[heatPipeSectionIstFact] as  SELECT     id,    objectID,    heatSourceID,    y_norm,    diameterExternal,    diameterCondit,    diameterInternal,    wallThickness,    tubingTypeID,    orgID,    typnet,  dbo.getCoeff(    1,     coeffDefault,heatTestsCoeff,pipeRemontTypeID,tubingTypeID, y_norm, typnet,  coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1, coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r   ) AS heatTestsCoeffP   ,  dbo.getCoeff(    2,     coeffDefault,heatTestsCoeff,pipeRemontTypeID,tubingTypeID, y_norm, typnet,  coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1, coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r   ) AS heatTestsCoeffO   ,     signNumWork,     lenP,     lenO FROM (  SELECT     l.id,    ec2.objectID,    IIF(ec2.objectID  <> 2, ec2.heatSourceID, ecm.heatSourceID) AS heatSourceID,    IIF(YEAR(lastTransDate) < 1990, 1, IIF(YEAR(lastTransDate) < 1998, 2, IIF(YEAR(lastTransDate) <= 2003, 3, 4))) AS y_norm,    diameterExternal,    diameterCondit,    diameterInternal,    wallThickness,    tubingTypeID,    l.organizationID AS orgID,    coeffDefault,    heatTestsCoeff,    pipeRemontTypeID,    coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1,coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r,    IIF(tubingTypeID = 3, 20,      IIF(tubingTypeID = 5, 30,        case ec2.objectID      when 1 then 1          when 2 then 2          when 10 then 3         when 11 then 4         when 12 then 5         when 3 then 6          when 4 then 7          when 5 then 8          when 6 then 9          when 7 then 10          when 8 then 11          when 9 then 12          else 40      end     ))  AS typnet,     IIF(YEAR(lastTransDate) < 1990, 1, signNumWork) AS signNumWork,     IIF(externalSignLineID IN (1,2,4), pipeSectLength, 0) AS lenP,     IIF(externalSignLineID IN (1,3,5), pipeSectLength, 0) AS lenO  FROM heatPipeSections hps  left join linesobj l on l.id = hps.lineID  left join nodes n2 on n2.id = l.nodeID2  left join externalCodes ec2 on ec2.id = n2.externalCodeID   left join externalCodes ecm on ec2.belongMagistral = ecm.id AND ec2.objectID=2  left join heatLosesSourceFact hls on hls.heatSourceID=IIF(ec2.objectID  <> 2, ec2.heatSourceID, ecm.heatSourceID)  WHERE n2.internalNodeID is NULL AND l.removed=0 ) _TTT2 ;
GO
/****** Object:  View [dbo].[normMonFact]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[normMonFact] as     SELECT         L1.heatSourceID,         tempViewFact.r,         tempViewFact.m,         tempViewFact.sezon,         ut_ktp_out_view.beta,         typnet,         tubingTypeID,         y_norm,         signNumWork,         diameterCondit,         diameterInternal,         heatTestsCoeffP,         heatTestsCoeffO,         dbo.get_qq(tubingTypeID, y_norm, signNumWork, 1, tgP, tgO, tgr, tpod, tn, tnSt, tgrSt, t2, t1_1, t1_2, t1_3, t1_4, qp_1, qo_1,  qp_2, qo_2,  qp_3, qo_3,  qp_4, qo_4,  qp_1gt5000, qo_1gt5000,  qp_2gt5000, qo_2gt5000,  qp_3gt5000, qo_3gt5000,  qp_4gt5000,  qo_4gt5000) AS qp,         dbo.get_qq(tubingTypeID, y_norm, signNumWork, 2, tgP, tgO, tgr, tpod, tn, tnSt, tgrSt, t2, t1_1, t1_2, t1_3, t1_4, qp_1, qo_1,  qp_2, qo_2,  qp_3, qo_3,  qp_4, qo_4,  qp_1gt5000, qo_1gt5000,  qp_2gt5000, qo_2gt5000,  qp_3gt5000, qo_3gt5000,  qp_4gt5000,  qo_4gt5000) AS qo,                lenP,         lenO     FROM      (       SELECT           _T1.heatSourceID,           typnet,           y_norm,           tubingTypeID,           signNumWork,           heatTestsCoeffP,           heatTestsCoeffO,           diameterExternal,           diameterCondit,           diameterInternal,           sum(lenP) AS lenP,           sum(lenO) AS lenO       FROM heatPipeSectionIstFact _T1       GROUP BY           _T1.heatSourceID,           typnet,           y_norm,           tubingTypeID,           signNumWork,           heatTestsCoeffP,           heatTestsCoeffO,           diameterExternal,           diameterCondit,           diameterInternal     ) L1       JOIN     (         SELECT DISTINCT              d, dy, date AS yy, IIF(proklad='К', 1, IIF(proklad='Б', 2, 4)) AS tubingTypeID_39,             proklad,             t2,             s39.tn AS tnSt,             s39.tg AS tgrSt,             t1_1, t1_2, t1_3, t1_4,             qp_1, qp_2, qp_3, qp_4,             qo_1, qo_2, qo_3, qo_4,             qp_1gt5000, qp_2gt5000, qp_3gt5000, qp_4gt5000,             qo_1gt5000, qo_2gt5000, qo_3gt5000, qo_4gt5000         FROM sprav.dbo.[39_Normy_teplovyh_poter] s39     ) s39     ON (diameterExternal=s39.d OR diameterCondit=s39.dy) AND y_norm=s39.yy AND (tubingTypeID = tubingTypeID_39 OR (tubingTypeID IN (3,4,5) AND tubingTypeID_39=4))     JOIN tempViewFact ON tempViewFact.hID=L1.heatSourceID     LEFT JOIN ut_ktp_out_view ON ut_ktp_out_view.diameterCondit_KTP=diameterCondit AND ut_ktp_out_view.tubingTypeID_KTP = tubingTypeID ;
GO
/****** Object:  View [dbo].[heatPipeSectionIstFragment]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[heatPipeSectionIstFragment] as  SELECT     id,    objectID,    heatSourceID,    y_norm,    diameterExternal,    diameterCondit,    diameterInternal,    wallThickness,    tubingTypeID,    orgID,    typnet,  dbo.getCoeff(    1,     coeffDefault,heatTestsCoeff,pipeRemontTypeID,tubingTypeID, y_norm, typnet,  coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1, coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r   ) AS heatTestsCoeffP   ,  dbo.getCoeff(    2,     coeffDefault,heatTestsCoeff,pipeRemontTypeID,tubingTypeID, y_norm, typnet,  coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1, coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r   ) AS heatTestsCoeffO   ,     signNumWork,     lenP,     lenO FROM (  SELECT     l.id,    ec2.objectID,    IIF(ec2.objectID  <> 2, ec2.heatSourceID, ecm.heatSourceID) AS heatSourceID,    IIF(YEAR(lastTransDate) < 1990, 1, IIF(YEAR(lastTransDate) < 1998, 2, IIF(YEAR(lastTransDate) <= 2003, 3, 4))) AS y_norm,    diameterExternal,    diameterCondit,    diameterInternal,    wallThickness,    tubingTypeID,    l.organizationID AS orgID,    coeffDefault,    heatTestsCoeff,    pipeRemontTypeID,    coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1,coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r,    IIF(tubingTypeID = 3, 20,      IIF(tubingTypeID = 5, 30,        case ec2.objectID      when 1 then 1          when 2 then 2          when 10 then 3         when 11 then 4         when 12 then 5         when 3 then 6          when 4 then 7          when 5 then 8          when 6 then 9          when 7 then 10          when 8 then 11          when 9 then 12          else 40      end     ))  AS typnet,     IIF(YEAR(lastTransDate) < 1990, 1, signNumWork) AS signNumWork,     IIF(externalSignLineID IN (1,2,4), pipeSectLength, 0) AS lenP,     IIF(externalSignLineID IN (1,3,5), pipeSectLength, 0) AS lenO  FROM heatPipeSections hps  left join linesobj l on l.id = hps.lineID  join TEMP_LINE ON l.id=TEMP_LINE.id  left join nodes n2 on n2.id = l.nodeID2  left join externalCodes ec2 on ec2.id = n2.externalCodeID   left join externalCodes ecm on ec2.belongMagistral = ecm.id AND ec2.objectID=2  left join heatLosesSource hls on hls.heatSourceID=IIF(ec2.objectID  <> 2, ec2.heatSourceID, ecm.heatSourceID)  WHERE n2.internalNodeID is NULL AND l.removed=0 ) _TTT2 ;
GO
/****** Object:  View [dbo].[normMonFragment]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[normMonFragment] as     SELECT         L1.heatSourceID,         tempView.r,         tempView.m,         tempView.sezon,         ut_ktp_out_view.beta,         typnet,         tubingTypeID,         y_norm,         signNumWork,         diameterCondit,         diameterInternal,         heatTestsCoeffP,         heatTestsCoeffO,         dbo.get_qq(tubingTypeID, y_norm, signNumWork, 1, tgP, tgO, tgr, tpod, tn, tnSt, tgrSt, t2, t1_1, t1_2, t1_3, t1_4, qp_1, qo_1,  qp_2, qo_2,  qp_3, qo_3,  qp_4, qo_4,  qp_1gt5000, qo_1gt5000,  qp_2gt5000, qo_2gt5000,  qp_3gt5000, qo_3gt5000,  qp_4gt5000,  qo_4gt5000) AS qp,         dbo.get_qq(tubingTypeID, y_norm, signNumWork, 2, tgP, tgO, tgr, tpod, tn, tnSt, tgrSt, t2, t1_1, t1_2, t1_3, t1_4, qp_1, qo_1,  qp_2, qo_2,  qp_3, qo_3,  qp_4, qo_4,  qp_1gt5000, qo_1gt5000,  qp_2gt5000, qo_2gt5000,  qp_3gt5000, qo_3gt5000,  qp_4gt5000,  qo_4gt5000) AS qo,                lenP,         lenO     FROM      (       SELECT           _T1.heatSourceID,           typnet,           y_norm,           tubingTypeID,           signNumWork,           heatTestsCoeffP,           heatTestsCoeffO,           diameterExternal,           diameterCondit,           diameterInternal,           sum(lenP) AS lenP,           sum(lenO) AS lenO       FROM heatPipeSectionIstFragment _T1       GROUP BY           _T1.heatSourceID,           typnet,           y_norm,           tubingTypeID,           signNumWork,           heatTestsCoeffP,           heatTestsCoeffO,           diameterExternal,           diameterCondit,           diameterInternal     ) L1       JOIN     (         SELECT DISTINCT              d, dy, date AS yy, IIF(proklad='К', 1, IIF(proklad='Б', 2, 4)) AS tubingTypeID_39,             proklad,             t2,             s39.tn AS tnSt,             s39.tg AS tgrSt,             t1_1, t1_2, t1_3, t1_4,             qp_1, qp_2, qp_3, qp_4,             qo_1, qo_2, qo_3, qo_4,             qp_1gt5000, qp_2gt5000, qp_3gt5000, qp_4gt5000,             qo_1gt5000, qo_2gt5000, qo_3gt5000, qo_4gt5000         FROM sprav.dbo.[39_Normy_teplovyh_poter] s39     ) s39     ON (diameterExternal=s39.d OR diameterCondit=s39.dy) AND y_norm=s39.yy AND (tubingTypeID = tubingTypeID_39 OR (tubingTypeID IN (3,4,5) AND tubingTypeID_39=4))     JOIN tempView ON tempView.hID=L1.heatSourceID     LEFT JOIN ut_ktp_out_view ON ut_ktp_out_view.diameterCondit_KTP=diameterCondit AND ut_ktp_out_view.tubingTypeID_KTP = tubingTypeID ;
GO
/****** Object:  View [dbo].[heatPipeSectionIstFragmentFact]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[heatPipeSectionIstFragmentFact] as  SELECT     id,    objectID,    heatSourceID,    y_norm,    diameterExternal,    diameterCondit,    diameterInternal,    wallThickness,    tubingTypeID,    orgID,    typnet,  dbo.getCoeff(    1,     coeffDefault,heatTestsCoeff,pipeRemontTypeID,tubingTypeID, y_norm, typnet,  coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1, coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r   ) AS heatTestsCoeffP   ,  dbo.getCoeff(    2,     coeffDefault,heatTestsCoeff,pipeRemontTypeID,tubingTypeID, y_norm, typnet,  coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1, coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r   ) AS heatTestsCoeffO   ,     signNumWork,     lenP,     lenO FROM (  SELECT     l.id,    ec2.objectID,    IIF(ec2.objectID  <> 2, ec2.heatSourceID, ecm.heatSourceID) AS heatSourceID,    IIF(YEAR(lastTransDate) < 1990, 1, IIF(YEAR(lastTransDate) < 1998, 2, IIF(YEAR(lastTransDate) <= 2003, 3, 4))) AS y_norm,    diameterExternal,    diameterCondit,    diameterInternal,    wallThickness,    tubingTypeID,    l.organizationID AS orgID,    coeffDefault,    heatTestsCoeff,    pipeRemontTypeID,    coeffMsFlowNorms1,coeffMsRetNorms1,coeffMsUndergroundNorms1,coeffRsFlowNorms1,coeffRsRetNorms1,coeffRsUndergroundNorms1, coeffBasementFlowNorms1,coeffBasementRetNorms1,coeffBasementUndergroundNorms1, coeffHarnessFlowNorms1,coeffHarnessRetNorms1,coeffHarnessUndergroundNorms1, coeffMsFlowNorms3,coeffMsRetNorms3,coeffMsUndergroundNorms3, coeffRsFlowNorms3,coeffRsRetNorms3,coeffRsUndergroundNorms3, coeffBasementFlowNorms3,coeffBasementRetNorms3,coeffBasementUndergroundNorms3, coeffHarnessFlowNorms3,coeffHarnessRetNorms3,coeffHarnessUndergroundNorms3, coeffMsFlowNorms1_r,coeffMsRetNorms1_r,coeffMsUndergroundNorms1_r, coeffRsFlowNorms1_r,coeffRsRetNorms1_r,coeffRsUndergroundNorms1_r, coeffBasementFlowNorms1_r,coeffBasementRetNorms1_r,coeffBasementUndergroundNorms1_r, coeffHarnessFlowNorms1_r,coeffHarnessRetNorms1_r,coeffHarnessUndergroundNorms1_r, coeffMsFlowNorms3_r,coeffMsRetNorms3_r,coeffMsUndergroundNorms3_r, coeffRsFlowNorms3_r,coeffRsRetNorms3_r,coeffRsUndergroundNorms3_r, coeffBasementFlowNorms3_r,coeffBasementRetNorms3_r,coeffBasementUndergroundNorms3_r, coeffHarnessFlowNorms3_r,coeffHarnessRetNorms3_r,coeffHarnessUndergroundNorms3_r,    IIF(tubingTypeID = 3, 20,      IIF(tubingTypeID = 5, 30,        case ec2.objectID      when 1 then 1          when 2 then 2          when 10 then 3         when 11 then 4         when 12 then 5         when 3 then 6          when 4 then 7          when 5 then 8          when 6 then 9          when 7 then 10          when 8 then 11          when 9 then 12          else 40      end     ))  AS typnet,     IIF(YEAR(lastTransDate) < 1990, 1, signNumWork) AS signNumWork,     IIF(externalSignLineID IN (1,2,4), pipeSectLength, 0) AS lenP,     IIF(externalSignLineID IN (1,3,5), pipeSectLength, 0) AS lenO  FROM heatPipeSections hps  left join linesobj l on l.id = hps.lineID  join TEMP_LINE ON l.id=TEMP_LINE.id  left join nodes n2 on n2.id = l.nodeID2  left join externalCodes ec2 on ec2.id = n2.externalCodeID   left join externalCodes ecm on ec2.belongMagistral = ecm.id AND ec2.objectID=2  left join heatLosesSourceFact hls on hls.heatSourceID=IIF(ec2.objectID  <> 2, ec2.heatSourceID, ecm.heatSourceID)  WHERE n2.internalNodeID is NULL AND l.removed=0 ) _TTT2 ;
GO
/****** Object:  View [dbo].[normMonFragmentFact]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[normMonFragmentFact] as     SELECT         L1.heatSourceID,         tempViewFact.r,         tempViewFact.m,         tempViewFact.sezon,         ut_ktp_out_view.beta,         typnet,         tubingTypeID,         y_norm,         signNumWork,         diameterCondit,         diameterInternal,         heatTestsCoeffP,         heatTestsCoeffO,         dbo.get_qq(tubingTypeID, y_norm, signNumWork, 1, tgP, tgO, tgr, tpod, tn, tnSt, tgrSt, t2, t1_1, t1_2, t1_3, t1_4, qp_1, qo_1,  qp_2, qo_2,  qp_3, qo_3,  qp_4, qo_4,  qp_1gt5000, qo_1gt5000,  qp_2gt5000, qo_2gt5000,  qp_3gt5000, qo_3gt5000,  qp_4gt5000,  qo_4gt5000) AS qp,         dbo.get_qq(tubingTypeID, y_norm, signNumWork, 2, tgP, tgO, tgr, tpod, tn, tnSt, tgrSt, t2, t1_1, t1_2, t1_3, t1_4, qp_1, qo_1,  qp_2, qo_2,  qp_3, qo_3,  qp_4, qo_4,  qp_1gt5000, qo_1gt5000,  qp_2gt5000, qo_2gt5000,  qp_3gt5000, qo_3gt5000,  qp_4gt5000,  qo_4gt5000) AS qo,                lenP,         lenO     FROM      (       SELECT           _T1.heatSourceID,           typnet,           y_norm,           tubingTypeID,           signNumWork,           heatTestsCoeffP,           heatTestsCoeffO,           diameterExternal,           diameterCondit,           diameterInternal,           sum(lenP) AS lenP,           sum(lenO) AS lenO       FROM heatPipeSectionIstFragmentFact _T1       GROUP BY           _T1.heatSourceID,           typnet,           y_norm,           tubingTypeID,           signNumWork,           heatTestsCoeffP,           heatTestsCoeffO,           diameterExternal,           diameterCondit,           diameterInternal     ) L1       JOIN     (         SELECT DISTINCT              d, dy, date AS yy, IIF(proklad='К', 1, IIF(proklad='Б', 2, 4)) AS tubingTypeID_39,             proklad,             t2,             s39.tn AS tnSt,             s39.tg AS tgrSt,             t1_1, t1_2, t1_3, t1_4,             qp_1, qp_2, qp_3, qp_4,             qo_1, qo_2, qo_3, qo_4,             qp_1gt5000, qp_2gt5000, qp_3gt5000, qp_4gt5000,             qo_1gt5000, qo_2gt5000, qo_3gt5000, qo_4gt5000         FROM sprav.dbo.[39_Normy_teplovyh_poter] s39     ) s39     ON (diameterExternal=s39.d OR diameterCondit=s39.dy) AND y_norm=s39.yy AND (tubingTypeID = tubingTypeID_39 OR (tubingTypeID IN (3,4,5) AND tubingTypeID_39=4))     JOIN tempViewFact ON tempViewFact.hID=L1.heatSourceID     LEFT JOIN ut_ktp_out_view ON ut_ktp_out_view.diameterCondit_KTP=diameterCondit AND ut_ktp_out_view.tubingTypeID_KTP = tubingTypeID ;
GO
/****** Object:  View [dbo].[general2]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[general2]
AS
SELECT        nodeID, quarter, maxBuildingHeight, accumCoeff, specExpendID, hydroModeSignID, gvsLoadGraphID, calcTemperatureID, varCoeffID, normHLosFlow, normHLosRet, calcHLdep, calcInternHDdep, adjCalcHLdep, adjCalcHDdep, 
                         perspCalcHLdep, perspCalcInternHDdep, calcTempDep, connectionSchemeID, mixFactCoeffDep, calcHLindep, calcInternHDindep, adjCalcHLindep, adjCalcInternHDindep, perspCalcHLindep, perspCalcInternHDindep, 
                         mixFactCoeffIndep, calcTempIndep, calcHLventil, adjCalcHLventil, perspCalcHLventil, calcHLcond, adjCalcHLcond, perspCalcHLcond, calcHLcloseSys, calcHLopenSysFlow, calcHLopenSysRet, adjCalcHLcloseSys, 
                         adjCalcHLopenSysFlow, perspCalcHLcloseSys, adjCalcHLopenSysRet, perspCalcHLopenSysFlow, perspCalcHLopenSysRet, expendHWpart, calcTempHA, calcHLparall, internHDparall, adjCalcHLparall, adjInternHDparall, 
                         perspCalcHLparall, perspInternHDparall, schemeParallID, calcHLGVSparall, adjCalcHLGVSparall, perspCalcHLGVSparall, hourIrregCoeffParall, avgHLcompParall, tempRecircPipeParall, calcTempHRparall, calcTempHWDOparall, 
                         AMRdepParall, calcHLmix, internHDmix, adjCalcHLmix, adjInternHDmix, perspCalcHLmix, perspInternHDmix, schemeMixID, calcHLGVSmix, perspCalcHLGVSmix, adjCalcHLGVSmix, hourIrregCoeffMix, tempRecircPipeMix, 
                         avgHLcompMix, calcTempHRmix, calcTempHWDOmix, AMRdepMix, calcHLconseq, internHDconseq, adjCalcHLconseq, adjInternHDconseq, perspCalcHLconseq, schemeConseqID, perspInternHDconseq, calcHLGVSconseq, 
                         adjCalcHLGVSconseq, perspCalcHLGVSconseq, hourIrregCoeffConseq, avgHLcompconseq, tempRecircPipeConseq, calcTempHRconseq, calcTempHWDOconseq, AMRdepConseq, calcHLpreON, internHDpreON, adjCalcHLpreON,
                          adjInternHDpreON, perspCalcHLpreON, perspInternHDpreON, schemePreONID, calcHLGVSpreON, adjCalcHLGVSpreON, perspCalcHLGVSpreON, hourIrregCoeffPreON, tempRecircPipePreON, avgHLcompPreON, 
                         calcTempHRpreON, calcTempHWDOpreON, AMRdepPreON, avgHLGVSopenSysFlow, avgHLGVSopenSysRet, adjAvgHLGVSopenSysFlow, adjAvgHLGVSopenSysRet, perspAvgHLGVSopenSysFlow, perspAvgHLGVSopenSysRet, 
                         hourIrregCoeffOpen, avgHLcompOpen, tempRecircPipeOpen, calcTempHWDOopen, PDvalveInstallLocID, setPDonRegulator, setLeakageFlow, setLeakageRet, WEmeteringDeviceID, volWaterHS, volWaterVS, minThrustDS, 
                         hydroResCloseSys, hydroResCloseSysSummer, closeSysCalcSignID, hydroResWDOFlow, calcSignOpenSysFlowID, hydroResWDORet, calcSignResWDORetID, calcSignSetLoadCloseSys, calcSignSetLoadOpenSysFlow, 
                         calcSignSetLoadOpenSysRet, hydroThrustIn, hydroThrustOut, calcExpendDep, calcExpendIndep, calcExpendVentil, calcExpendCond, calcExpendHWFlow, calcExpendHWRet, calcExpendRecircOpen, consumerStateID, 
                         calcThrustInWSD, calcExpendHWpreON, calcExpendHWconseq, calcExpendHWmix, calcExpendHWparall
FROM            dbo.generalizedConsumers
GO
/****** Object:  View [dbo].[tempSezonView]    Script Date: 16.11.2021 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[tempSezonView] as   SELECT     heatSourceID,     IIF(sezon=1, 14, 15) AS r,     IIF(sezon=1, 13, 14) AS m,     sezon,      sum(tn*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tn,     sum(tpod*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tpod,     sum(tgr*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgr,     sum(tgP*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgP,     sum(tgO*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tgO,     sum(tx*workCount)/sum(IIF(workCount = 0, 1, workCount)) AS tx,     sum(workCount) AS workCount   FROM   (     SELECT        hls.heatSourceID,       hls.r,        hls.m,        hls.sezon,        hl.tn,        hl.tpod,        hl.tgr,       hls.tgP,        hls.tgO,        hls.tx,        hls.workCount      FROM heatLosesSourceMonths hls     LEFT JOIN heatLoses hl     ON hls.m=hl.m      WHERE hls.heatSourceID IN (SELECT id FROM heatLosesSourceList)   ) _T1   GROUP BY     heatSourceID,     sezon ;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "generalizedConsumers"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 265
               Right = 284
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1725
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'general2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'general2'
GO
