/*
background-color: #FA0000; border: 1px solid #000; 
*/


/* полоска между блоками*/
QFrame {
    color: #c0c0c0;
}


QLabel  {         /* Подпись внизу */
    color: red;
    text-align: center;
    font-size: 0px;
/*
    background-color: white;
    border: 1px solid red;
*/
}


QVBoxLayout {
    border: 5 solid red;
}

